@use '@/packages/themes/tool.scss' as tool;
@use '@/packages/themes/style.scss' as style;

@mixin dropdown-style($state: '') {
  @include style.component-style($component: 'dropdown', $state: $state);
  @include style.component-hover-style($component: 'dropdown', $state: $state);
  @include style.component-focus-style($component: 'dropdown', $state: $state);
  @include style.component-active-style($component: 'dropdown', $state: $state);
  @include style.component-disabled-style($component: 'dropdown', $state: $state);
}
@mixin dropdown-selected-style() {
  @include style.component-style($component: 'dropdown', $state: 'selected');
}

@mixin dropdown-popper-style() {
  @include style.component-style($component: 'dropdown', $widget: 'popper');
}

@mixin dropdown-item-style($status: '', $state: '') {
  @include style.component-style($component: 'dropdown', $widget: 'item', $status: $status, $state: $state);
  @include style.component-hover-style($component: 'dropdown', $widget: 'item', $status: $status, $state: $state);
  @include style.component-active-style($component: 'dropdown', $widget: 'item', $status: $status, $state: $state);
  @include style.component-disabled-style($component: 'dropdown', $widget: 'item', $status: $status, $state: $state);
}
@mixin dropdown-item-selected-style($status: '') {
  @include style.component-style($component: 'dropdown', $widget: 'item', $status: $status, $state: 'selected');
}
@mixin dropdown-item-highlighted-style($status: '') {
  @include style.component-style($component: 'dropdown', $widget: 'item', $status: $status, $state2: 'hover');
}

@mixin dropdown-checked-style($status: '') {
  @include style.component-style($component: 'dropdown', $widget: 'item-checked', $status: $status);
  @include style.component-disabled-style($component: 'dropdown', $widget: 'item-checked', $status: $status);
}

@mixin dropdown-button-selected-style($variant) {
  @include style.component-style($component: 'dropdown-button', $variant: $variant, $state: selected);
}

.trigger {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--w-common-spacing-gap-md);
  padding: var(--w-common-spacing-common-sm);
  font-weight: var(--w-common-font-weight-medium);
  cursor: pointer;
  transition:
    box-shadow 0.2s,
    background 0.2s,
    border 0.2s;
  outline: none;
  border: var(--w-common-spacing-scale-1) solid transparent;
  border-radius: var(--w-common-border-radius-lg);
  min-height: 40px;

  @include tool.font-size(var(--w-common-font-size-text-base));

  &[data-menu] {
    width: 40px;
    height: 40px;
    border-radius: var(--w-common-border-radius-circular);
    padding: var(--w-common-spacing-common-none);
    overflow: hidden;
  }

  @include dropdown-style();
  &[data-state='open'] {
    @include dropdown-selected-style();
  }
}

.popper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--w-common-spacing-common-sm) var(--w-common-spacing-common-none);
  box-shadow:
    0 10px 15px -3px var(--w-common-shadow-color-02),
    0 4px 6px -2px var(--w-common-shadow-color-01);
  border-radius: var(--w-common-border-radius-xlg);
  border: var(--w-common-spacing-scale-1) solid var(--w-component-dropdown-popper-border);
  background: var(--w-component-dropdown-popper-background);
  min-width: var(--radix-dropdown-menu-trigger-width);

  @include dropdown-popper-style();

  > .separator:first-child {
    border-top: none;
    margin: var(--w-common-spacing-common-none);
  }

  &[data-variant='checkbox'] {
    .item {
      padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-sm) var(--w-common-spacing-common-none)
        var(--w-common-spacing-common-xs);
    }

    .label {
      padding: var(--w-common-spacing-common-lg) var(--w-common-spacing-common-lg) var(--w-common-spacing-common-xs)
        var(--w-common-spacing-common-xl);
    }

    .item[role='menuitem'],
    .item[role='menuitemcheckbox'][data-state='unchecked'],
    .item[role='menuitemradio'][data-state='unchecked'] {
      padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-sm) var(--w-common-spacing-common-none)
        var(--w-common-spacing-common-xl);
    }
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-lg);
  gap: var(--w-common-spacing-gap-sm);
  outline: none;
  border: var(--w-common-spacing-scale-1) solid transparent;
  cursor: pointer;
  font-weight: var(--w-common-font-weight-regular);

  @include tool.font-size(var(--w-common-font-size-text-base));

  @include dropdown-item-style();

  &[data-state='open'] {
    @include dropdown-item-selected-style();
  }

  &[data-highlighted] {
    @include dropdown-item-highlighted-style();
  }

  &[data-status='danger'] {
    @include dropdown-item-style($status: 'danger');

    &[data-state='open'] {
      @include dropdown-item-selected-style($status: 'danger');
    }

    &[data-highlighted] {
      @include dropdown-item-highlighted-style($status: 'danger');
    }

    .checked {
      @include dropdown-checked-style($status: 'danger');
    }
  }
}

.checked {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  stroke-width: var(--w-common-border-width-icon-sm);

  @include tool.font-size(var(--w-common-font-size-text-md));

  @include dropdown-checked-style();
}

.prefix {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  > svg {
    stroke-width: var(--w-common-border-width-icon-sm);
    font-size: var(--w-common-font-size-text-md);
  }
}

.content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--w-common-spacing-gap-sm);
}

.suffix {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  > svg {
    stroke-width: var(--w-common-border-width-icon-sm);
    font-size: var(--w-common-font-size-text-md);
    color: var(--w-common-font-color-helper);
  }
}

.description {
  font-weight: var(--w-common-font-weight-regular);
  color: var(--w-common-font-color-helper);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include tool.font-size(var(--w-common-font-size-text-sm));
}

.title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  gap: var(--w-common-spacing-gap-sm);
}

.left {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--w-common-spacing-gap-sm);
  flex: 1 1 auto;

  > svg {
    stroke-width: var(--w-common-border-width-icon-sm);
    font-size: var(--w-common-font-size-text-md);
  }
}

.right {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  min-width: 16px;

  > svg {
    stroke-width: var(--w-common-border-width-icon-sm);
    color: var(--w-common-font-color-helper);
    font-size: var(--w-common-font-size-text-md);
  }
}

.separator {
  border-top: var(--w-common-spacing-scale-1) solid var(--w-component-dropdown-popper-border);
  margin: var(--w-common-spacing-common-xs) var(--w-common-spacing-common-none);
}

.label {
  font-weight: var(--w-common-font-weight-bold);
  padding: var(--w-common-spacing-common-lg) var(--w-common-spacing-common-lg) var(--w-common-spacing-common-xs);
  color: var(--w-common-font-color-helper);
  margin: 0 0 var(--w-common-spacing-gap-sm);

  @include tool.font-size(var(--w-common-font-size-text-sm));
}

.button-trigger {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  .button {
    &:focus {
      z-index: 1;
    }

    &[disabled],
    &:active,
    &:focus,
    &:hover {
      border-right: var(--w-common-spacing-scale-1) solid var(--w-component-button-secondary-border);
    }

    &[data-size='xs'],
    &[data-size='sm'],
    &[data-size='md'] {
      border-radius: var(--w-common-border-radius-lg) var(--w-common-border-radius-none)
        var(--w-common-border-radius-none) var(--w-common-border-radius-lg);
      border-right: var(--w-common-spacing-scale-1) solid var(--w-component-button-secondary-border);

      &[disabled],
      &:active,
      &:focus,
      &:hover {
        border-right: var(--w-common-spacing-scale-1) solid var(--w-component-button-secondary-border);
      }
    }
  }

  .arrow {
    &:focus {
      z-index: 1;
    }

    &[disabled],
    &:active,
    &:focus,
    &:hover {
      border-left: none;
    }

    &[data-size='xs'],
    &[data-size='sm'],
    &[data-size='md'] {
      border-radius: var(--w-common-border-radius-none) var(--w-common-border-radius-lg)
        var(--w-common-border-radius-lg) var(--w-common-border-radius-none);
      border-left: none;

      &[disabled],
      &:active,
      &:focus,
      &:hover {
        border-left: none;
      }
    }

    &[data-variant='secondary'] {
      &[data-state='open'] {
        @include dropdown-button-selected-style($variant: 'secondary');
      }
    }

    &[data-variant='primary'] {
      &[data-state='open'] {
        @include dropdown-button-selected-style($variant: 'primary');
      }
    }

    &[data-variant='classic'] {
      &[data-state='open'] {
        @include dropdown-button-selected-style($variant: 'classic');
      }
    }

    &[data-state='open'] {
      z-index: 1;
    }
  }
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
