.style(@component:'dropdown';@variant:''; @status:''; @state:'') {
  @variant-pattern: if(@variant='', '',  ~'@{variant}-');
  @status-pattern: if(@status='', '',  ~'@{status}-');
  @state-pattern: if(@state='', '',  ~'@{state}-');

  color: var(~'--w-component-@{component}-@{variant-pattern}@{status-pattern}@{state-pattern}font');
  background: var(~'--w-component-@{component}-@{variant-pattern}@{status-pattern}@{state-pattern}background');
  border-color: var(~'--w-component-@{component}-@{variant-pattern}@{status-pattern}@{state-pattern}border');
}

.trigger {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--w-common-spacing-gap-md);
  padding: var(--w-common-spacing-common-md);
  font-size: var(--w-common-font-size-text-base);
  font-weight: var(--w-common-font-weight-medium);
  cursor: pointer;
  transition: box-shadow 0.2s, background 0.2s;
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--w-common-border-radius-lg);
  min-height: 40px;

  &[data-variant="menu"] {
    width: 40px;
    height: 40px;
    border-radius: var(--w-common-border-radius-circular);
  }

  .style();

  &[disabled] {
    .style(@state: disabled);
    cursor: not-allowed;
  }

  &:hover {
    .style(@state: hover);
  }

  &:focus {
    .style(@state: focus);
    box-shadow: 0 0 0 2px var(--w-common-shadow-state-focus-inner), 0 0 0 4px var(--w-common-shadow-state-focus-default);
  }

  &:active {
    .style(@state: active);
  }

  &[data-state="open"] {
    .style(@state: selected)
  }
}

.prefix {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  > svg {
    stroke-width: 1.5;
    font-size: var(--w-common-font-size-text-md);
  }
}

.content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--w-common-spacing-gap-sm);
}

.suffix {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  > svg {
    stroke-width: 1.5;
    font-size: var(--w-common-font-size-text-md);
    color: var(--w-common-font-color-helper);
  }
}

.description {
  font-size: var(--w-common-font-size-text-sm);
  font-weight: var(--w-common-font-weight-regular);
  color: var(--w-common-font-color-helper);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--w-common-spacing-common-md) var(--w-common-spacing-common-none);
  box-shadow: 0 10px 15px -3px var(--w-common-shadow-color-02), 0 4px 6px -2px var(--w-common-shadow-color-01);
  border-radius: var(--w-common-border-radius-xlg);
  border: 1px solid var(--w-component-dropdown-popper-border);
  background: var(--w-component-dropdown-popper-background);
  min-width: var(--radix-dropdown-menu-trigger-width);

  > .separator:first-child {
    border-top: none;
  }


  &.with-checked {
    .item {
      padding: 0 var(--w-common-spacing-common-md) 0 var(--w-common-spacing-common-sm);
    }

    .label {
      padding: var(--w-common-spacing-common-lg) var(--w-common-spacing-common-lg) var(--w-common-spacing-common-sm) var(--w-common-spacing-common-xlg);
    }

    .item[role="menuitem"],
    .item[role="menuitemcheckbox"][data-state="unchecked"],
    .item[role="menuitemradio"][data-state="unchecked"] {
      padding: 0 var(--w-common-spacing-common-md) 0 var(--w-common-spacing-common-xlg);
    }
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: 0 var(--w-common-spacing-common-lg);
  gap: var(--w-common-spacing-gap-sm);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: var(--w-common-font-size-text-base);
  font-weight: var(--w-common-font-weight-regular);

  .style(@component: dropdown-item; @status: default);

  &[data-highlighted],
  &:hover {
    .style(@component: dropdown-item; @status: default; @state: hover);
  }

  &:active {
    .style(@component: dropdown-item; @status: default; @state: active);
  }

  &[data-state="open"] {
    .style(@component: dropdown-item; @status: default; @state: selected)
  }

  &[disabled] {
    .style(@component: dropdown-item; @status: default; @state: disabled);
    cursor: not-allowed;
  }
}

.title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  gap: var(--w-common-spacing-gap-sm);
}

.left {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--w-common-spacing-gap-sm);
  flex: 1 1 auto;

  > svg {
    stroke-width: 1.2;
    font-size: var(--w-common-font-size-text-md);
  }
}

.right {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  min-width: 16px;

  > svg {
    stroke-width: 1.2;
    color: var(--w-common-font-color-helper);
    font-size: var(--w-common-font-size-text-md);
  }
}

.separator {
  border-top: 1px solid var(--w-component-dropdown-popper-border);
}

.label {
  font-size: var(--w-common-font-size-text-sm);
  font-weight: var(--w-common-font-weight-bold);
  padding: var(--w-common-spacing-common-lg) var(--w-common-spacing-common-lg) var(--w-common-spacing-common-sm);
  color: var(--w-common-font-color-helper);
  margin: 0 0 var(--w-common-spacing-gap-sm);
}

.indicator {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  stroke-width: 1.2;
  font-size: var(--w-common-font-size-text-md);
  color: var(--w-common-font-color-semantics-highlight);
}