@use '@/packages/themes/tool.scss' as tool;
@use '@/packages/themes/style.scss' as style;

@mixin module-style($variant) {
  @include style.container-style($component: 'module', $variant: $variant);
}

@mixin module-header-style($variant) {
  @include style.container-style($component: 'module', $variant: $variant, $widget: 'header');
}

@mixin module-content-style($variant) {
  @include style.container-style($component: 'module', $variant: $variant, $widget: content);
}

.module {
  min-height: 100%;
  border-radius: var(--w-common-border-radius-lg);
  overflow: hidden;

  &[data-variant="basic"] {
    border: 1px solid transparent;
    @include module-style($variant: 'basic');

    .header {
      padding: var(--w-common-spacing-common-sm) var(--w-common-spacing-common-xl);

      @include module-header-style($variant: 'basic');
    }

    .content {
      @include module-content-style($variant: 'basic');
    }
  }

  &[data-variant="ghost"] {
    @include module-style($variant: 'ghost');

    .header {
      padding: var(--w-common-spacing-common-sm) var(--w-common-spacing-common-none);
      @include module-header-style($variant: 'ghost');
    }

    .content {
      border-radius: var(--w-common-border-radius-lg);
      border: 1px solid transparent;

      @include module-content-style($variant: 'ghost');
    }
  }

  &[data-variant="basic-nested"] {
    min-height: unset;
    .header {
      padding: var(--w-common-spacing-common-sm) var(--w-common-spacing-common-none);
      margin: var(--w-common-spacing-common-none) var(--w-common-spacing-common-xl);
      @include module-header-style($variant: 'basic-nested');
    }
  }

  &[data-variant="ghost-nested"] {
    min-height: unset;
    .header {
      @include module-header-style($variant: 'ghost-nested');
    }
  }

  &[data-with-nested] {
    > .content {
      border-width: 0;
    }
  }
}

.header {
  box-sizing: border-box;
  border-bottom: var(--w-common-spacing-scale-1) solid transparent;
  font-weight: var(--w-common-font-weight-bold);

  @include tool.font-size(var(--w-common-font-size-text-lg));
}

.content {
  overflow: hidden;
}