html[data-theme="blue"] {
  --w-component-badge-background-gray: var(--w-palette-gray-10);
  --w-component-badge-background-blue: var(--w-palette-blue-10);
  --w-component-badge-background-indigo: var(--w-palette-indigo-10);
  --w-component-badge-background-purple: var(--w-palette-purple-10);
  --w-component-badge-background-yellow: var(--w-palette-yellow-10);
  --w-component-badge-background-orange: var(--w-palette-orange-10);
  --w-component-badge-background-green: var(--w-palette-green-10);
  --w-component-badge-background-teal: var(--w-palette-teal-10);
  --w-component-badge-background-red: var(--w-palette-red-10);
  --w-component-badge-font-color-gray: var(--w-palette-gray-60);
  --w-component-badge-font-color-blue: var(--w-palette-blue-60);
  --w-component-badge-font-color-indigo: var(--w-palette-indigo-60);
  --w-component-badge-font-color-purple: var(--w-palette-purple-60);
  --w-component-badge-font-color-yellow: var(--w-palette-yellow-60);
  --w-component-badge-font-color-orange: var(--w-palette-orange-60);
  --w-component-badge-font-color-green: var(--w-palette-green-60);
  --w-component-badge-font-color-teal: var(--w-palette-teal-60);
  --w-component-badge-font-color-red: var(--w-palette-red-60);
  --w-component-badge-border-gray: var(--w-palette-gray-60);
  --w-component-badge-border-blue: var(--w-palette-blue-60);
  --w-component-badge-border-indigo: var(--w-palette-indigo-60);
  --w-component-badge-border-purple: var(--w-palette-purple-50);
  --w-component-badge-border-yellow: var(--w-palette-yellow-60);
  --w-component-badge-border-orange: var(--w-palette-orange-60);
  --w-component-badge-border-green: var(--w-palette-green-60);
  --w-component-badge-border-teal: var(--w-palette-teal-60);
  --w-component-badge-border-red: var(--w-palette-red-60);
}
