@use '@/packages/themes/tool.scss' as tool;
@use '@/packages/themes/style.scss' as style;

@mixin toggle-group-state-style($variant) {
  @include style.component-style($component: 'toggle-group', $variant: $variant);
}
@mixin toggle-group-item-state-style($variant, $state: '') {
  @include style.component-style($component:'toggle-group', $widget: 'item', $variant: $variant, $state: $state);
  @include style.component-hover-style($component:'toggle-group', $widget: 'item', $variant: $variant, $state: $state);
  @include style.component-focus-style($component:'toggle-group', $widget: 'item', $variant: $variant, $state: $state);
  @include style.component-disabled-style($component:'toggle-group', $widget: 'item', $variant: $variant, $state: $state);
}

.group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: var(--w-common-spacing-scale-1) solid transparent;

  @include toggle-group-state-style($variant: 'basic');

  &[data-variant="compact"] {
    @include toggle-group-state-style($variant: 'compact');

    &[data-size="md"] {
      gap: var(--w-common-spacing-common-none) var(--w-common-spacing-scale-1);
      padding: var(--w-common-spacing-common-none);

      > .item {
        &:first-child {
          border-top-left-radius: var(--w-common-border-radius-lg);
          border-bottom-left-radius: var(--w-common-border-radius-lg);
        }
    
        &:last-child {
          border-top-right-radius: var(--w-common-border-radius-lg);
          border-bottom-right-radius: var(--w-common-border-radius-lg);
        }
      }
    }

    &[data-size="sm"] {
      gap: var(--w-common-spacing-common-none);
      padding: var(--w-common-spacing-common-none);

      > .item {
        &:first-child {
          border-top-left-radius: var(--w-common-border-radius-md);
          border-bottom-left-radius: var(--w-common-border-radius-md);
        }
    
        &:last-child {
          border-top-right-radius: var(--w-common-border-radius-md);
          border-bottom-right-radius: var(--w-common-border-radius-md);
        }
      }
    }
  }

  &[data-size="md"] {
    height: 40px;
    border-radius: var(--w-common-border-radius-lg);
    gap: var(--w-common-spacing-common-none) var(--w-common-spacing-gap-sm);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-xs);
  }

  &[data-size="sm"] {
    height: 32px;
    border-radius: var(--w-common-border-radius-md);
    gap: var(--w-common-spacing-common-none) var(--w-common-spacing-gap-sm);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-xs);
  }
}

@mixin icon($size) {
  &[data-icon] {
    padding: var(--w-common-spacing-common-none);
    width: $size;
  }
}

.item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: var(--w-common-font-weight-medium);
  cursor: pointer;
  transition: box-shadow 0.2s, background 0.2s, border 0.2s;
  outline: none;
  border: var(--w-common-spacing-scale-1) solid transparent;

  @include tool.font-size(var(--w-common-font-size-text-base));

  &:focus {
    z-index: 1;
  }

  > svg {
    stroke-width: var(--w-common-border-width-icon-sm);
    font-size: var(--w-common-font-size-text-md);
  }

  &[data-variant="basic"] {
    @include toggle-group-item-state-style($variant: 'basic');

    &[data-state="on"] {
      @include toggle-group-item-state-style($variant: 'basic', $state: 'selected');
    }

    &[data-size="md"] {
      height: 32px;
      border-radius: var(--w-common-border-radius-lg);
  
      @include icon(32px);
    }

    &[data-size="sm"] {
      height: 24px;
      border-radius: var(--w-common-border-radius-md);
  
      @include icon(24px);
    }
  }

  &[data-variant="compact"] {
    @include toggle-group-item-state-style($variant: 'compact');

    &[data-state="on"] {
      @include toggle-group-item-state-style($variant: 'compact', $state: 'selected');
    }

    &[data-size="md"] {
      height: 40px;
      border-radius: var(--w-common-border-radius-none);

      @include icon(40px);
    }

    &[data-size="sm"] {
      height: 32px;
      border-radius: var(--w-common-border-radius-none);

      @include icon(32px);
    }
  }

  &[data-size='md'] {
    gap: var(--w-common-spacing-common-none) var(--w-common-spacing-gap-sm);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-lg);
  }

  &[data-size='sm'] {
    gap: var(--w-common-spacing-common-none) var(--w-common-spacing-gap-sm);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-md);
  }
}