@use '@/packages/themes/tool.scss' as tool;
@use '@/packages/themes/style.scss' as style;

@mixin page-header-style() {
  @include style.container-style($component: 'page', $widget: 'header');
}

.page {
  height: 100%;
  overflow: hidden;
}

.header {
  box-sizing: border-box;
  padding: var(--w-common-spacing-common-lg) var(--w-common-spacing-common-xl);
  border-bottom: var(--w-common-spacing-scale-1) solid transparent;
  font-weight: var(--w-common-font-weight-bold);

  @include tool.font-size(var(--w-common-font-size-text-xl));

  [data-description] {
    margin: var(--w-common-spacing-common-xs) var(--w-common-spacing-gap-none) var(--w-common-spacing-gap-none);
    
    @include tool.font-size(var(--w-common-font-size-text-base));
  }

  @include page-header-style();
}