.row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
}

.col2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
  width: 20%;
}