@use '@/packages/themes/tool.scss' as tool;
@use '@/packages/themes/style.scss' as style;

@mixin layout-style() {
  @include style.container-style($component: 'layout');
}

@mixin layout-header-style() {
  @include style.container-style($component: 'layout', $widget: 'header');
}

.layout {
  height: 100%;

  @include layout-style();

  > .vertical {
    display: flex;
    flex-direction: column;

    > .horizontal {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      min-height: 0;

      > .prefix,
      > .suffix {
        flex: 0 0 auto;
        max-width: 30%;
        min-width: 10px;
      }

      > .content {
        flex: 1 1 auto;
        min-width: 0;
        min-height: 10px;
      }
    }

    > .prefix,
    > .suffix {
      flex: 0 0 auto;
      max-height: 30%;
      min-height: 10px;
    }

    > .content {
      min-width: 10px;
    }
  }

  &.top,
  &.left,
  &.right,
  &.bottom {
    box-sizing: border-box;
  }

  &.top {
    border-bottom-width: var(--w-common-spacing-scale-1);
    border-bottom-style: solid;
  }
  
  &.left {
    border-right-width: var(--w-common-spacing-scale-1);
    border-right-style: solid;
  }
  
  &.right {
    border-left-width: var(--w-common-spacing-scale-1);
    border-left-style: solid;
  }
  
  &.bottom {
    border-top-width: var(--w-common-spacing-scale-1);
    border-top-style: solid;
  }
}

.header {
  box-sizing: border-box;
  padding: var(--w-common-spacing-common-sm) var(--w-common-spacing-common-xl);
  border-bottom: var(--w-common-spacing-scale-1) solid transparent;
  font-weight: var(--w-common-font-weight-bold);

  @include tool.font-size(var(--w-common-font-size-text-lg));

  @include layout-header-style();
}

.content {
  overflow: auto;
  outline: none;

  &:focus {
    &::before {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      box-shadow:
        inset 0 0 0 0px var(--w-common-shadow-state-focus-inner),
        inset 0 0 0 2px var(--w-common-shadow-state-focus-default);
    }
  }
}