:root {
  --w-gray-0: #ffffff;
  --w-gray-50: #f6f8fb;
  --w-gray-100: #eff1f6;
  --w-gray-200: #e2e5eb;
  --w-gray-300: #ced3db;
  --w-gray-400: #9ca3af;
  --w-gray-500: #808899;
  --w-gray-600: #616e80;
  --w-gray-700: #374151;
  --w-gray-800: #1e293b;
  --w-gray-900: #0f172a;
  --w-gray-950: #0e121b;
}
