:root {
  --w-component-button-primary-default-font: var(--w-common-font-color-inverse);
  --w-component-button-primary-default-background: var(--w-common-background-semantics-highlight);
  --w-component-button-primary-default-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-hover-font: var(--w-common-font-color-inverse);
  --w-component-button-primary-hover-background: var(--w-common-background-semantics-highlight-hover);
  --w-component-button-primary-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-button-primary-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-disabled-background: var(--w-common-background-state-disabled);
  --w-component-button-primary-focus-font: var(--w-common-font-color-inverse);
  --w-component-button-primary-focus-background: var(--w-common-background-semantics-highlight);
  --w-component-button-primary-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-danger-default-font: var(--w-common-font-color-inverse);
  --w-component-button-primary-danger-default-background: var(--w-common-background-semantics-error);
  --w-component-button-primary-danger-default-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-danger-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-danger-hover-font: var(--w-common-font-color-inverse);
  --w-component-button-primary-danger-hover-background: var(--w-common-background-semantics-error-hover);
  --w-component-button-primary-danger-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-button-primary-danger-disabled-background: var(--w-common-background-semantics-error-light);
  --w-component-button-primary-danger-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-primary-danger-focus-font: var(--w-common-font-color-inverse);
  --w-component-button-primary-danger-focus-background: var(--w-common-background-semantics-error);
  --w-component-button-primary-danger-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-secondary-default-border: var(--w-common-border-color-base);
  --w-component-button-secondary-default-font: var(--w-common-font-color-primary);
  --w-component-button-secondary-default-background: var(--w-common-background-common-base);
  --w-component-button-secondary-hover-border: var(--w-common-border-color-03);
  --w-component-button-secondary-hover-font: var(--w-common-font-color-primary);
  --w-component-button-secondary-hover-background: var(--w-common-background-common-base);
  --w-component-button-secondary-disabled-border: var(--w-common-border-color-base);
  --w-component-button-secondary-disabled-background: var(--w-common-background-state-disabled);
  --w-component-button-secondary-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-button-secondary-focus-font: var(--w-common-font-color-primary);
  --w-component-button-secondary-focus-background: var(--w-common-background-common-base);
  --w-component-button-secondary-focus-border: var(--w-common-border-color-base);
  --w-component-button-secondary-danger-default-font: var(--w-common-font-color-semantics-error);
  --w-component-button-secondary-danger-default-background: var(--w-common-background-common-base);
  --w-component-button-secondary-danger-default-border: var(--w-common-border-color-base);
  --w-component-button-secondary-danger-hover-font: var(--w-common-font-color-semantics-error);
  --w-component-button-secondary-danger-hover-background: var(--w-common-background-common-base);
  --w-component-button-secondary-danger-hover-border: var(--w-common-border-color-03);
  --w-component-button-secondary-danger-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-button-secondary-danger-disabled-background: var(--w-common-background-semantics-error-light);
  --w-component-button-secondary-danger-disabled-border: var(--w-common-border-color-base);
  --w-component-button-secondary-danger-focus-font: var(--w-common-font-color-semantics-error);
  --w-component-button-secondary-danger-focus-background: var(--w-common-background-common-base);
  --w-component-button-secondary-danger-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-default-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-default-font: var(--w-common-font-color-secondary);
  --w-component-button-tertiary-default-background: var(--w-common-background-common-02);
  --w-component-button-tertiary-hover-font: var(--w-common-font-color-primary);
  --w-component-button-tertiary-hover-background: var(--w-common-background-common-03);
  --w-component-button-tertiary-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-button-tertiary-disabled-background: var(--w-common-background-common-01);
  --w-component-button-tertiary-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-focus-font: var(--w-common-font-color-primary);
  --w-component-button-tertiary-focus-background: var(--w-common-background-common-01);
  --w-component-button-tertiary-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-danger-default-font: var(--w-common-font-color-semantics-error);
  --w-component-button-tertiary-danger-default-background: var(--w-common-background-semantics-error-light);
  --w-component-button-tertiary-danger-default-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-danger-hover-font: var(--w-common-font-color-semantics-error);
  --w-component-button-tertiary-danger-hover-background: var(--w-common-background-semantics-error-light-hover);
  --w-component-button-tertiary-danger-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-danger-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-button-tertiary-danger-disabled-background: var(--w-common-background-semantics-error-light);
  --w-component-button-tertiary-danger-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-tertiary-danger-focus-font: var(--w-common-font-color-semantics-error);
  --w-component-button-tertiary-danger-focus-background: var(--w-common-background-semantics-error-light);
  --w-component-button-tertiary-danger-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-default-font: var(--w-common-font-color-base);
  --w-component-button-ghost-default-background: var(--w-common-background-transparent-fully);
  --w-component-button-ghost-default-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-hover-font: var(--w-common-font-color-secondary);
  --w-component-button-ghost-hover-background: var(--w-common-background-state-hover);
  --w-component-button-ghost-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-button-ghost-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-button-ghost-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-focus-font: var(--w-common-font-color-secondary);
  --w-component-button-ghost-focus-background: var(--w-common-background-common-base);
  --w-component-button-ghost-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-danger-default-font: var(--w-common-font-color-semantics-error);
  --w-component-button-ghost-danger-default-background: var(--w-common-background-transparent-fully);
  --w-component-button-ghost-danger-default-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-danger-hover-font: var(--w-common-font-color-semantics-error);
  --w-component-button-ghost-danger-hover-background: var(--w-common-background-semantics-error-light-hover);
  --w-component-button-ghost-danger-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-danger-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-button-ghost-danger-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-button-ghost-danger-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-ghost-danger-focus-font: var(--w-common-font-color-semantics-error);
  --w-component-button-ghost-danger-focus-background: var(--w-common-background-common-base);
  --w-component-button-ghost-danger-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-table-default-font: var(--w-common-font-color-semantics-highlight);
  --w-component-button-table-default-background: var(--w-common-background-transparent-fully);
  --w-component-button-table-focus-background: var(--w-common-background-common-base);
  --w-component-button-table-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-table-default-border: var(--w-common-border-color-transparent);
  --w-component-button-table-hover-font: var(--w-common-font-color-semantics-highlight-hover);
  --w-component-button-table-hover-background: var(--w-common-background-state-hover);
  --w-component-button-table-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-table-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-button-table-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-button-table-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-table-focus-font: var(--w-common-font-color-semantics-highlight);
  --w-component-button-classic-default-font: var(--w-common-font-color-inverse);
  --w-component-button-classic-default-background: var(--w-common-background-common-black);
  --w-component-button-classic-default-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-hover-font: var(--w-common-font-color-inverse);
  --w-component-button-classic-hover-background: var(--w-common-background-common-gray);
  --w-component-button-classic-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-button-classic-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-disabled-background: var(--w-common-background-state-disabled);
  --w-component-button-classic-focus-font: var(--w-common-font-color-inverse);
  --w-component-button-classic-focus-background: var(--w-palette-core-black);
  --w-component-button-classic-focus-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-danger-default-font: var(--w-common-font-color-inverse);
  --w-component-button-classic-danger-default-background: var(--w-common-background-semantics-error);
  --w-component-button-classic-danger-default-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-danger-hover-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-danger-hover-font: var(--w-common-font-color-inverse);
  --w-component-button-classic-danger-hover-background: var(--w-common-background-semantics-error-hover);
  --w-component-button-classic-danger-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-button-classic-danger-disabled-background: var(--w-common-background-semantics-error-light);
  --w-component-button-classic-danger-disabled-border: var(--w-common-border-color-transparent);
  --w-component-button-classic-danger-focus-font: var(--w-common-font-color-inverse);
  --w-component-button-classic-danger-focus-background: var(--w-common-background-semantics-error);
  --w-component-button-classic-danger-focus-border: var(--w-common-border-color-transparent);
}
