:root {
  --w-component-toggle-button-default-default-border: var(--w-common-border-color-base);
  --w-component-toggle-button-default-default-font: var(--w-common-font-color-base);
  --w-component-toggle-button-default-default-background: var(--w-common-background-common-base);
  --w-component-toggle-button-default-hover-border: var(--w-common-border-color-03);
  --w-component-toggle-button-default-hover-font: var(--w-common-font-color-base);
  --w-component-toggle-button-default-hover-background: var(--w-common-background-common-base);
  --w-component-toggle-button-default-disabled-border: var(--w-common-border-color-base);
  --w-component-toggle-button-default-disabled-background: var(--w-common-background-state-disabled);
  --w-component-toggle-button-default-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-button-default-focus-font: var(--w-common-font-color-base);
  --w-component-toggle-button-default-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-button-default-focus-border: var(--w-common-border-color-base);
  --w-component-toggle-button-default-checked-default-border: var(--w-common-border-color-03);
  --w-component-toggle-button-default-checked-default-font: var(--w-common-font-color-primary);
  --w-component-toggle-button-default-checked-default-background: var(--w-common-background-common-01);
  --w-component-toggle-button-default-checked-hover-border: var(--w-common-border-color-03);
  --w-component-toggle-button-default-checked-hover-font: var(--w-common-font-color-primary);
  --w-component-toggle-button-default-checked-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-button-default-checked-focus-border: var(--w-common-border-color-03);
  --w-component-toggle-button-default-checked-focus-font: var(--w-common-font-color-primary);
  --w-component-toggle-button-default-checked-focus-background: var(--w-common-background-common-01);
  --w-component-toggle-button-default-checked-disabled-border: var(--w-common-border-color-03);
  --w-component-toggle-button-default-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-button-default-checked-disabled-background: var(--w-common-background-state-disabled);
  --w-component-toggle-button-ghost-default-font: var(--w-common-font-color-base);
  --w-component-toggle-button-ghost-default-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-button-ghost-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-hover-font: var(--w-common-font-color-secondary);
  --w-component-toggle-button-ghost-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-button-ghost-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-button-ghost-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-button-ghost-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-focus-font: var(--w-common-font-color-secondary);
  --w-component-toggle-button-ghost-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-button-ghost-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-checked-default-font: var(--w-common-font-color-primary);
  --w-component-toggle-button-ghost-checked-default-background: var(--w-common-background-common-02);
  --w-component-toggle-button-ghost-checked-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-checked-hover-font: var(--w-common-font-color-primary);
  --w-component-toggle-button-ghost-checked-hover-background: var(--w-common-background-common-03);
  --w-component-toggle-button-ghost-checked-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-checked-focus-font: var(--w-common-font-color-primary);
  --w-component-toggle-button-ghost-checked-focus-background: var(--w-common-background-common-02);
  --w-component-toggle-button-ghost-checked-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-button-ghost-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-button-ghost-checked-disabled-background: var(--w-common-background-common-02);
  --w-component-toggle-button-ghost-checked-disabled-border: var(--w-common-border-color-transparent);
}
