html[data-theme='blue'] {
  --w-component-avatar-group-border: var(--w-common-border-color-inverse);
  --w-component-avatar-dark-purple-background: var(--w-palette-purple-60);
  --w-component-avatar-dark-purple-font: var(--w-common-font-color-inverse);
  --w-component-avatar-dark-purple-border: var(--w-common-border-color-transparent);
  --w-component-avatar-dark-blue-background: var(--w-palette-blue-60);
  --w-component-avatar-dark-blue-font: var(--w-common-font-color-inverse);
  --w-component-avatar-dark-blue-border: var(--w-common-border-color-transparent);
  --w-component-avatar-dark-orange-background: var(--w-palette-orange-60);
  --w-component-avatar-dark-orange-font: var(--w-common-font-color-inverse);
  --w-component-avatar-dark-orange-border: var(--w-common-border-color-transparent);
  --w-component-avatar-dark-red-background: var(--w-palette-red-60);
  --w-component-avatar-dark-red-font: var(--w-common-font-color-inverse);
  --w-component-avatar-dark-red-border: var(--w-common-border-color-transparent);
  --w-component-avatar-dark-green-background: var(--w-palette-green-60);
  --w-component-avatar-dark-green-font: var(--w-common-font-color-inverse);
  --w-component-avatar-dark-green-border: var(--w-common-border-color-transparent);
  --w-component-avatar-dark-gray-background: var(--w-palette-gray-40);
  --w-component-avatar-dark-gray-font: var(--w-common-font-color-inverse);
  --w-component-avatar-dark-gray-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-purple-background: var(--w-palette-purple-10);
  --w-component-avatar-light-purple-font: var(--w-palette-purple-60);
  --w-component-avatar-light-purple-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-blue-background: var(--w-palette-blue-10);
  --w-component-avatar-light-blue-font: var(--w-palette-blue-60);
  --w-component-avatar-light-blue-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-orange-background: var(--w-palette-orange-10);
  --w-component-avatar-light-orange-font: var(--w-palette-orange-60);
  --w-component-avatar-light-orange-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-red-background: var(--w-palette-red-10);
  --w-component-avatar-light-red-font: var(--w-palette-red-60);
  --w-component-avatar-light-red-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-green-background: var(--w-palette-green-10);
  --w-component-avatar-light-green-font: var(--w-palette-green-60);
  --w-component-avatar-light-green-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-gray-background: var(--w-palette-gray-10);
  --w-component-avatar-light-gray-font: var(--w-palette-gray-60);
  --w-component-avatar-light-gray-border: var(--w-common-border-color-transparent);
  --w-component-avatar-outline-purple-background: var(--w-common-background-common-base);
  --w-component-avatar-outline-purple-font: var(--w-palette-purple-60);
  --w-component-avatar-outline-purple-border: var(--w-common-border-color-base);
  --w-component-avatar-outline-blue-background: var(--w-common-background-common-base);
  --w-component-avatar-outline-blue-font: var(--w-palette-blue-60);
  --w-component-avatar-outline-blue-border: var(--w-common-border-color-base);
  --w-component-avatar-outline-orange-background: var(--w-common-background-common-base);
  --w-component-avatar-outline-orange-font: var(--w-palette-orange-60);
  --w-component-avatar-outline-orange-border: var(--w-common-border-color-base);
  --w-component-avatar-outline-red-background: var(--w-common-background-common-base);
  --w-component-avatar-outline-red-font: var(--w-palette-red-60);
  --w-component-avatar-outline-red-border: var(--w-common-border-color-base);
  --w-component-avatar-outline-green-background: var(--w-common-background-common-base);
  --w-component-avatar-outline-green-font: var(--w-palette-green-60);
  --w-component-avatar-outline-green-border: var(--w-common-border-color-base);
  --w-component-avatar-outline-gray-background: var(--w-common-background-common-base);
  --w-component-avatar-outline-gray-font: var(--w-palette-gray-60);
  --w-component-avatar-outline-gray-border: var(--w-common-border-color-base);
}
