html[data-theme='blue'] {
  --w-component-dropdown-item-default-font: #ffffff;
  --w-component-dropdown-item-default-background: #ffffff;
  --w-component-dropdown-item-default-border: #ffffff;
  --w-component-dropdown-item-default-hover-font: #ffffff;
  --w-component-dropdown-item-default-hover-background: #ffffff;
  --w-component-dropdown-item-default-hover-border: #ffffff;
  --w-component-dropdown-item-default-active-font: #ffffff;
  --w-component-dropdown-item-default-active-background: #ffffff;
  --w-component-dropdown-item-default-active-border: #ffffff;
  --w-component-dropdown-item-default-focus-font: #ffffff;
  --w-component-dropdown-item-default-focus-background: #ffffff;
  --w-component-dropdown-item-default-focus-border: #ffffff;
  --w-component-dropdown-item-default-selected-font: #ffffff;
  --w-component-dropdown-item-default-selected-background: #ffffff;
  --w-component-dropdown-item-default-selected-border: #ffffff;
  --w-component-dropdown-item-default-disabled-font: #ffffff;
  --w-component-dropdown-item-default-disabled-background: #ffffff;
  --w-component-dropdown-item-default-disabled-border: #ffffff;
  --w-component-dropdown-item-checked-font: #ffffff;
  --w-component-dropdown-item-checked-background: #ffffff;
  --w-component-dropdown-item-checked-border: #ffffff;
  --w-component-dropdown-item-checked-hover-background: #ffffff;
  --w-component-dropdown-item-checked-hover-border: #ffffff;
  --w-component-dropdown-item-checked-hover-font: #ffffff;
  --w-component-dropdown-item-checked-focus-font: #ffffff;
  --w-component-dropdown-item-checked-focus-background: #ffffff;
  --w-component-dropdown-item-checked-focus-border: #ffffff;
  --w-component-dropdown-item-checked-active-font: #ffffff;
  --w-component-dropdown-item-checked-active-background: #ffffff;
  --w-component-dropdown-item-checked-active-border: #ffffff;
  --w-component-dropdown-item-checked-selected-font: #ffffff;
  --w-component-dropdown-item-checked-selected-background: #ffffff;
  --w-component-dropdown-item-checked-selected-border: #ffffff;
  --w-component-dropdown-item-checked-disabled-font: #ffffff;
  --w-component-dropdown-item-checked-disabled-background: #ffffff;
  --w-component-dropdown-item-checked-disabled-border: #ffffff;
  --w-component-dropdown-item-danger-font: #ffffff;
  --w-component-dropdown-item-danger-checked-font: #ffffff;
  --w-component-dropdown-item-danger-checked-background: #ffffff;
  --w-component-dropdown-item-danger-checked-border: #ffffff;
  --w-component-dropdown-item-danger-checked-hover-font: #ffffff;
  --w-component-dropdown-item-danger-checked-hover-background: #ffffff;
  --w-component-dropdown-item-danger-checked-hover-border: #ffffff;
  --w-component-dropdown-item-danger-checked-focus-font: #ffffff;
  --w-component-dropdown-item-danger-checked-focus-background: #ffffff;
  --w-component-dropdown-item-danger-checked-focus-border: #ffffff;
  --w-component-dropdown-item-danger-checked-active-background: #ffffff;
  --w-component-dropdown-item-danger-checked-active-border: #ffffff;
  --w-component-dropdown-item-danger-checked-active-font: #ffffff;
  --w-component-dropdown-item-danger-checked-selected-font: #ffffff;
  --w-component-dropdown-item-danger-checked-selected-background: #ffffff;
  --w-component-dropdown-item-danger-checked-selected-border: #ffffff;
  --w-component-dropdown-item-danger-checked-disabled-font: #ffffff;
  --w-component-dropdown-item-danger-checked-disabled-background: #ffffff;
  --w-component-dropdown-item-danger-checked-disabled-border: #ffffff;
  --w-component-dropdown-item-danger-background: #ffffff;
  --w-component-dropdown-item-danger-border: #ffffff;
  --w-component-dropdown-item-danger-hover-font: #ffffff;
  --w-component-dropdown-item-danger-hover-background: #ffffff;
  --w-component-dropdown-item-danger-hover-border: #ffffff;
  --w-component-dropdown-item-danger-focus-font: #ffffff;
  --w-component-dropdown-item-danger-focus-background: #ffffff;
  --w-component-dropdown-item-danger-focus-border: #ffffff;
  --w-component-dropdown-item-danger-active-font: #ffffff;
  --w-component-dropdown-item-danger-active-background: #ffffff;
  --w-component-dropdown-item-danger-active-border: #ffffff;
  --w-component-dropdown-item-danger-selected-font: #ffffff;
  --w-component-dropdown-item-danger-selected-background: #ffffff;
  --w-component-dropdown-item-danger-selected-border: #ffffff;
  --w-component-dropdown-item-danger-disabled-font: #ffffff;
  --w-component-dropdown-item-danger-disabled-background: #ffffff;
  --w-component-dropdown-item-danger-disabled-border: #ffffff;
  --w-component-dropdown-popper-background: #ffffff;
  --w-component-dropdown-popper-border: #ffffff;
}
