html[data-theme="blue"] {
	--w-component-link-font: var(--w-common-font-color-semantics-highlight);
	--w-component-link-border: var(--w-common-border-color-transparent);
	--w-component-link-hover-font: var(
		--w-common-font-color-semantics-highlight-hover
	);
	--w-component-link-hover-border: var(
		--w-common-background-semantics-highlight
	);
	--w-component-link-active-font: var(--w-common-font-color-semantics-highlight);
	--w-component-link-active-border: var(
		--w-common-background-semantics-highlight-dark
	);
	--w-component-link-focus-font: var(--w-common-font-color-semantics-highlight);
	--w-component-link-focus-border: var(--w-common-border-color-state-focus);
	--w-component-link-disabled-font: var(--w-common-font-color-state-disabled);
	--w-component-link-disabled-border: var(--w-common-border-color-transparent);
	--w-component-link-visited-font: var(--w-common-font-color-state-visted);
	--w-component-link-visited-border: var(--w-common-border-color-transparent);
	--w-component-link-icon: var(--w-common-font-color-helper);
	--w-component-link-hover-icon: var(
		--w-common-font-color-semantics-highlight-hover
	);
	--w-component-link-active-icon: var(--w-common-font-color-semantics-highlight);
	--w-component-link-focus-icon: var(--w-common-font-color-semantics-highlight);
	--w-component-link-disabled-icon: var(--w-common-font-color-state-disabled);
	--w-component-link-visited-icon: var(--w-common-font-color-state-visted);
	--w-component-link-inverse-font: var(--w-common-font-color-inverse-highlight);
	--w-component-link-inverse-border: var(--w-common-border-color-transparent);
	--w-component-link-inverse-hover-font: var(
		--w-common-font-color-inverse-highlight-hover
	);
	--w-component-link-inverse-hover-border: var(
		--w-common-border-color-inverse-highlight-hover
	);
	--w-component-link-inverse-active-font: var(
		--w-common-font-color-inverse-highlight
	);
	--w-component-link-inverse-active-border: var(
		--w-common-border-color-inverse-highlight
	);
	--w-component-link-inverse-focus-font: var(
		--w-common-font-color-inverse-highlight
	);
	--w-component-link-inverse-focus-border: var(
		--w-common-border-color-state-focus
	);
	--w-component-link-inverse-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-link-inverse-disabled-border: var(
		--w-common-border-color-transparent
	);
	--w-component-link-inverse-visited-font: var(
		--w-common-font-color-inverse-visted
	);
	--w-component-link-inverse-visited-border: var(
		--w-common-border-color-transparent
	);
	--w-component-link-inverse-icon: var(--w-common-font-color-helper);
	--w-component-link-inverse-hover-icon: var(
		--w-common-font-color-inverse-highlight-hover
	);
	--w-component-link-inverse-active-icon: var(
		--w-common-font-color-inverse-highlight
	);
	--w-component-link-inverse-focus-icon: var(
		--w-common-font-color-inverse-highlight
	);
	--w-component-link-inverse-disabled-icon: var(
		--w-common-font-color-state-disabled
	);
	--w-component-link-inverse-visited-icon: var(
		--w-common-font-color-inverse-visted
	);
}
