:root {
  --w-component-dropdown-item-default-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-default-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-default-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-default-hover-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-default-hover-background: var(--w-common-background-state-hover);
  --w-component-dropdown-item-default-hover-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-default-active-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-default-active-background: var(--w-common-background-state-hover);
  --w-component-dropdown-item-default-active-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-default-focus-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-default-focus-background: var(--w-common-background-state-hover);
  --w-component-dropdown-item-default-focus-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-default-selected-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-default-selected-background: var(--w-common-background-state-selected);
  --w-component-dropdown-item-default-selected-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-default-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-dropdown-item-default-disabled-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-default-disabled-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-checked-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-checked-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-checked-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-checked-hover-background: var(--w-common-background-state-hover);
  --w-component-dropdown-item-checked-hover-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-checked-hover-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-checked-focus-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-checked-focus-background: var(--w-common-background-state-hover);
  --w-component-dropdown-item-checked-focus-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-checked-active-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-checked-active-background: var(--w-common-background-state-hover);
  --w-component-dropdown-item-checked-active-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-checked-selected-font: var(--w-common-font-color-base);
  --w-component-dropdown-item-checked-selected-background: var(--w-common-background-state-selected);
  --w-component-dropdown-item-checked-selected-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-dropdown-item-checked-disabled-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-checked-disabled-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-font: var(--w-common-font-color-semantics-error);
  --w-component-dropdown-item-danger-checked-font: var(--w-common-font-color-semantics-error);
  --w-component-dropdown-item-danger-checked-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-danger-checked-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-checked-hover-font: var(--w-common-background-semantics-error-hover);
  --w-component-dropdown-item-danger-checked-hover-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-checked-hover-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-checked-focus-font: var(--w-common-background-semantics-error-hover);
  --w-component-dropdown-item-danger-checked-focus-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-checked-focus-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-checked-active-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-checked-active-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-checked-active-font: var(--w-common-background-semantics-error-hover);
  --w-component-dropdown-item-danger-checked-selected-font: var(--w-common-font-color-semantics-error);
  --w-component-dropdown-item-danger-checked-selected-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-checked-selected-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-checked-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-dropdown-item-danger-checked-disabled-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-danger-checked-disabled-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-danger-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-hover-font: var(--w-common-background-semantics-error-hover);
  --w-component-dropdown-item-danger-hover-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-hover-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-focus-font: var(--w-common-background-semantics-error-hover);
  --w-component-dropdown-item-danger-focus-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-focus-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-active-font: var(--w-common-background-semantics-error-hover);
  --w-component-dropdown-item-danger-active-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-active-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-selected-font: var(--w-common-font-color-semantics-error);
  --w-component-dropdown-item-danger-selected-background: var(--w-common-background-semantics-error-light);
  --w-component-dropdown-item-danger-selected-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-item-danger-disabled-font: var(--w-common-font-color-semantics-error-disabled);
  --w-component-dropdown-item-danger-disabled-background: var(--w-common-background-common-base);
  --w-component-dropdown-item-danger-disabled-border: var(--w-common-border-color-transparent);
  --w-component-dropdown-popper-background: var(--w-common-background-common-base);
  --w-component-dropdown-popper-border: var(--w-common-border-color-base);
}
