:root {
  --w-common-font-color-base: var(--w-palette-gray-60);
  --w-common-font-color-primary: var(--w-palette-gray-90);
  --w-common-font-color-secondary: var(--w-palette-gray-80);
  --w-common-font-color-tertiary: var(--w-palette-gray-70);
  --w-common-font-color-helper: var(--w-palette-gray-50);
  --w-common-font-color-icon: var(--w-palette-gray-30);
  --w-common-font-color-state-placeholder: var(--w-palette-gray-40);
  --w-common-font-color-state-disabled: var(--w-palette-gray-40);
  --w-common-font-color-semantics-highlight-hover: var(--w-palette-indigo-70);
  --w-common-font-color-semantics-highlight: var(--w-palette-indigo-60);
  --w-common-font-color-semantics-error: var(--w-palette-red-60);
  --w-common-font-color-semantics-success: var(--w-palette-green-60);
  --w-common-font-color-semantics-warning: var(--w-palette-orange-60);
  --w-common-font-color-semantics-error-disabled: var(--w-palette-red-30);
  --w-common-font-color-semantics-error-light: var(--w-palette-red-00);
  --w-common-font-color-inverse: var(--w-palette-core-white);
  --w-common-font-color-icon-hover: var(--w-palette-gray-40);
  --w-common-font-color-helper-hover: var(--w-palette-gray-50);
  --w-common-font-size-text-sm: 12px;
  --w-common-font-size-text-base: 14px;
  --w-common-font-size-text-md: 16px;
  --w-common-font-size-text-lg: 18px;
  --w-common-font-size-text-xlg: 20px;
  --w-common-font-size-heading-sm: 16px;
  --w-common-font-size-heading-base: 20px;
  --w-common-font-size-heading-md: 24px;
  --w-common-font-size-heading-lg: 32px;
  --w-common-font-size-heading-xlg: 36px;
  --w-common-font-family-base: Plus Jakarta Sans;
  --w-common-font-family-code: Menlo;
  --w-common-font-family-emphasis: Times New Roman;
  --w-common-font-family-quote: Times New Roman;
  --w-common-font-weight-light: 300;
  --w-common-font-weight-regular: 400;
  --w-common-font-weight-medium: 500;
  --w-common-font-weight-semibold: 600;
  --w-common-font-weight-bold: 700;
  --w-common-font-weight-black: 900;
}
