:root {
  --w-common-spacing-common-none: 0px;
  --w-common-spacing-common-xs: 2px;
  --w-common-spacing-common-sm: 4px;
  --w-common-spacing-common-md: 8px;
  --w-common-spacing-common-lg: 16px;
  --w-common-spacing-common-xlg: 24px;
  --w-common-spacing-common-xxlg: 32px;
  --w-common-spacing-common-xxxlg: 48px;
  --w-common-spacing-gap-none: var(--w-common-spacing-common-none);
  --w-common-spacing-gap-xm: var(--w-common-spacing-common-xs);
  --w-common-spacing-gap-sm: var(--w-common-spacing-common-sm);
  --w-common-spacing-gap-md: var(--w-common-spacing-common-md);
  --w-common-spacing-gap-lg: var(--w-common-spacing-common-lg);
  --w-common-spacing-scale-1: 1px;
  --w-common-spacing-scale-2: 1.5px;
  --w-common-spacing-scale-3: 2px;
}
