:root {
  --w-component-toggle-group-item-normal-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-normal-default-font: var(--w-common-font-color-base);
  --w-component-toggle-group-item-normal-default-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-group-item-normal-hover-border: var(--w-common-border-color-03);
  --w-component-toggle-group-item-normal-hover-font: var(--w-common-font-color-base);
  --w-component-toggle-group-item-normal-hover-background: var(--w-common-background-common-base);
  --w-component-toggle-group-item-normal-disabled-border: var(--w-common-border-color-base);
  --w-component-toggle-group-item-normal-disabled-background: var(--w-common-background-state-disabled);
  --w-component-toggle-group-item-normal-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-item-normal-focus-font: var(--w-common-font-color-base);
  --w-component-toggle-group-item-normal-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-group-item-normal-focus-border: var(--w-common-border-color-base);
  --w-component-toggle-group-item-normal-checked-default-border: var(--w-common-border-color-03);
  --w-component-toggle-group-item-normal-checked-default-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-item-normal-checked-default-background: var(--w-common-background-common-base);
  --w-component-toggle-group-item-normal-checked-hover-border: var(--w-common-border-color-03);
  --w-component-toggle-group-item-normal-checked-hover-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-item-normal-checked-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-item-normal-checked-focus-border: var(--w-common-border-color-03);
  --w-component-toggle-group-item-normal-checked-focus-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-item-normal-checked-focus-background: var(--w-common-background-common-01);
  --w-component-toggle-group-item-normal-checked-disabled-border: var(--w-common-border-color-03);
  --w-component-toggle-group-item-normal-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-item-normal-checked-disabled-background: var(--w-common-background-state-disabled);
  --w-component-toggle-group-item-compact-default-font: var(--w-common-font-color-base);
  --w-component-toggle-group-item-compact-default-background: var(--w-common-background-common-base);
  --w-component-toggle-group-item-compact-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-compact-hover-font: var(--w-common-font-color-secondary);
  --w-component-toggle-group-item-compact-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-item-compact-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-compact-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-item-compact-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-group-item-compact-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-compact-focus-font: var(--w-common-font-color-secondary);
  --w-component-toggle-group-item-compact-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-group-item-compact-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-compact-checked-default-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-item-compact-checked-default-background: var(--w-common-background-common-03);
  --w-component-toggle-group-item-compact-checked-default-border: var(--w-common-border-color-base);
  --w-component-toggle-group-item-compact-checked-hover-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-item-compact-checked-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-item-compact-checked-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-compact-checked-focus-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-item-compact-checked-focus-background: var(--w-common-background-common-03);
  --w-component-toggle-group-item-compact-checked-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-item-compact-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-item-compact-checked-disabled-background: var(--w-common-background-common-02);
  --w-component-toggle-group-item-compact-checked-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-normal-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-normal-default-background: var(--w-common-background-common-02);
  --w-component-toggle-group-compact-default-border: var(--w-common-border-color-base);
  --w-component-toggle-group-compact-default-background: var(--w-common-background-common-02);
}
