@mixin style(
  $variant: "",
  $widget: "",
  $style: "",
  $status: "",
  $state: "",
  $state2: "",
  $enable-font: true,
  $enable-border: true,
  $enable-icon: false
) {
  $widget-pattern: if($widget != "", "#{$widget}-", "");
  $variant-pattern: if($variant != "", "#{$variant}-", "");
  $style-pattern: if($style != "", "#{$style}-", "");
  $status-pattern: if($status != "", "#{$status}-", "");
  $state-pattern: if($state != "", "#{$state}-", "");
  $state2-pattern: if($state2 != "", "#{$state2}-", "");

  @if $enable-icon == true {
    color: var(
      --w-component-link-#{$variant-pattern}#{$widget-pattern}#{$style-pattern}#{$status-pattern}#{$state-pattern}#{$state2-pattern}icon
    );
  } @else {
    @if $enable-font == true {
      color: var(
        --w-component-link-#{$variant-pattern}#{$widget-pattern}#{$style-pattern}#{$status-pattern}#{$state-pattern}#{$state2-pattern}font
      );
    }
    @if $enable-border == true {
      text-decoration-color: var(
        --w-component-link-#{$variant-pattern}#{$widget-pattern}#{$style-pattern}#{$status-pattern}#{$state-pattern}#{$state2-pattern}border
      );
    }
  }
}

@mixin link-style(
  $variant: "",
  $widget: "",
  $style: "",
  $status: "",
  $state: "",
  $state2: ""
) {
  @include style(
    $variant: $variant,
    $widget: $widget,
    $style: $style,
    $status: $status,
    $state: $state,
    $state2: $state2
  );

  > svg {
    @include style(
      $variant: $variant,
      $widget: $widget,
      $style: $style,
      $status: $status,
      $state: $state,
      $state2: $state2,
      $enable-icon: true
    );
  }
}

@mixin link-hover-style(
  $variant: "",
  $widget: "",
  $style: "",
  $status: "",
  $state: ""
) {
  &:hover {
    @include link-style(
      $variant: $variant,
      $widget: $widget,
      $style: $style,
      $status: $status,
      $state: $state,
      $state2: "hover"
    );
  }

  &[disabled],
  &[data-disabled] {
    &:hover {
      @include link-style(
        $variant: $variant,
        $widget: $widget,
        $style: $style,
        $status: $status,
        $state: $state,
        $state2: "disabled"
      );
    }
  }
}

@mixin link-focus-style(
  $variant: "",
  $widget: "",
  $style: "",
  $status: "",
  $state: ""
) {
  $focus-status-pattern: if($status != "", $status, "default");

  &:focus {
    @include link-style(
      $variant: $variant,
      $widget: $widget,
      $style: $style,
      $status: $status,
      $state: $state,
      $state2: "focus"
    );

    outline: none;
  }

  &[disabled],
  &[data-disabled] {
    &:focus {
      @include link-style(
        $variant: $variant,
        $widget: $widget,
        $style: $style,
        $status: $status,
        $state: $state,
        $state2: "disabled"
      );
    }
  }
}

@mixin link-active-style(
  $variant: "",
  $widget: "",
  $style: "",
  $status: "",
  $state: ""
) {
  &:active {
    @include link-style(
      $variant: $variant,
      $widget: $widget,
      $style: $style,
      $status: $status,
      $state: $state,
      $state2: "active"
    );
  }

  &[disabled],
  &[data-disabled] {
    &:active {
      @include link-style(
        $variant: $variant,
        $widget: $widget,
        $style: $style,
        $status: $status,
        $state: $state,
        $state2: "disabled"
      );
    }
  }
}

@mixin link-disabled-style(
  $variant: "",
  $widget: "",
  $style: "",
  $status: "",
  $state: ""
) {
  &[disabled],
  &[data-disabled] {
    @include link-style(
      $variant: $variant,
      $widget: $widget,
      $style: "",
      $status: $status,
      $state: $state,
      $state2: "disabled"
    );
    cursor: not-allowed;
  }
}
