html[data-theme="orange"] {
	--w-component-shortcut-light-background: var(
		--w-common-background-transparent-overlay-white-10
	);
	--w-component-shortcut-light-font: var(--w-common-font-color-inverse);
	--w-component-shortcut-light-border: var(--w-common-border-color-transparent);
	--w-component-shortcut-light-disabled-background: var(
		--w-common-background-transparent-overlay-black-05
	);
	--w-component-shortcut-light-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-shortcut-light-disabled-border: var(
		--w-common-border-color-transparent
	);
	--w-component-shortcut-dark-background: var(
		--w-common-background-transparent-overlay-black-10
	);
	--w-component-shortcut-dark-font: var(--w-common-font-color-helper);
	--w-component-shortcut-dark-border: var(--w-common-border-color-transparent);
	--w-component-shortcut-dark-disabled-background: var(
		--w-common-background-transparent-overlay-black-05
	);
	--w-component-shortcut-dark-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-shortcut-dark-disabled-border: var(
		--w-common-border-color-transparent
	);
	--w-component-shortcut-gray-background: var(
		--w-common-background-transparent-fully
	);
	--w-component-shortcut-gray-font: var(--w-common-font-color-helper);
	--w-component-shortcut-gray-border: var(--w-common-border-color-transparent);
	--w-component-shortcut-gray-disabled-background: var(
		--w-common-background-transparent-fully
	);
	--w-component-shortcut-gray-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-shortcut-gray-disabled-border: var(
		--w-common-border-color-transparent
	);
}
