html[data-theme="orange"] {
	--w-component-toggle-group-basic-item-selected-border: var(
		--w-common-border-color-03
	);
	--w-component-toggle-group-basic-item-selected-font: var(
		--w-common-font-color-primary
	);
	--w-component-toggle-group-basic-item-selected-background: var(
		--w-common-background-common-base
	);
	--w-component-toggle-group-basic-item-selected-hover-border: var(
		--w-common-border-color-03
	);
	--w-component-toggle-group-basic-item-selected-hover-font: var(
		--w-common-font-color-primary
	);
	--w-component-toggle-group-basic-item-selected-hover-background: var(
		--w-common-background-state-hover
	);
	--w-component-toggle-group-basic-item-selected-focus-border: var(
		--w-common-border-color-03
	);
	--w-component-toggle-group-basic-item-selected-focus-font: var(
		--w-common-font-color-primary
	);
	--w-component-toggle-group-basic-item-selected-focus-background: var(
		--w-common-background-common-01
	);
	--w-component-toggle-group-basic-item-selected-disabled-border: var(
		--w-common-border-color-03
	);
	--w-component-toggle-group-basic-item-selected-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-toggle-group-basic-item-selected-disabled-background: var(
		--w-common-background-state-disabled
	);
	--w-component-toggle-group-basic-item-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-toggle-group-basic-item-focus-font: var(
		--w-common-font-color-base
	);
	--w-component-toggle-group-basic-item-focus-background: var(
		--w-common-background-common-base
	);
	--w-component-toggle-group-basic-item-focus-border: var(
		--w-common-border-color-base
	);
	--w-component-toggle-group-basic-item-font: var(--w-common-font-color-helper);
	--w-component-toggle-group-basic-item-background: var(
		--w-common-background-transparent-fully
	);
	--w-component-toggle-group-basic-item-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-basic-item-hover-border: var(
		--w-common-border-color-03
	);
	--w-component-toggle-group-basic-item-hover-font: var(
		--w-common-font-color-base
	);
	--w-component-toggle-group-basic-item-hover-background: var(
		--w-common-background-common-base
	);
	--w-component-toggle-group-basic-item-disabled-border: var(
		--w-common-border-color-base
	);
	--w-component-toggle-group-basic-item-disabled-background: var(
		--w-common-background-state-disabled
	);
	--w-component-toggle-group-basic-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-basic-background: var(
		--w-common-background-common-02
	);
	--w-component-toggle-group-compact-item-font: var(
		--w-common-font-color-helper
	);
	--w-component-toggle-group-compact-item-background: var(
		--w-common-background-common-base
	);
	--w-component-toggle-group-compact-item-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-item-hover-font: var(
		--w-common-font-color-secondary
	);
	--w-component-toggle-group-compact-item-hover-background: var(
		--w-common-background-state-hover
	);
	--w-component-toggle-group-compact-item-hover-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-item-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-toggle-group-compact-item-disabled-background: var(
		--w-common-background-transparent-fully
	);
	--w-component-toggle-group-compact-item-disabled-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-item-focus-font: var(
		--w-common-font-color-secondary
	);
	--w-component-toggle-group-compact-item-focus-background: var(
		--w-common-background-common-base
	);
	--w-component-toggle-group-compact-item-focus-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-item-selected-font: var(
		--w-common-font-color-primary
	);
	--w-component-toggle-group-compact-item-selected-background: var(
		--w-common-background-common-03
	);
	--w-component-toggle-group-compact-item-selected-border: var(
		--w-common-border-color-base
	);
	--w-component-toggle-group-compact-item-selected-hover-font: var(
		--w-common-font-color-primary
	);
	--w-component-toggle-group-compact-item-selected-hover-background: var(
		--w-common-background-state-hover
	);
	--w-component-toggle-group-compact-item-selected-hover-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-item-selected-focus-font: var(
		--w-common-font-color-primary
	);
	--w-component-toggle-group-compact-item-selected-focus-background: var(
		--w-common-background-common-03
	);
	--w-component-toggle-group-compact-item-selected-focus-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-item-selected-disabled-font: var(
		--w-common-font-color-state-disabled
	);
	--w-component-toggle-group-compact-item-selected-disabled-background: var(
		--w-common-background-common-02
	);
	--w-component-toggle-group-compact-item-selected-disabled-border: var(
		--w-common-border-color-transparent
	);
	--w-component-toggle-group-compact-border: var(--w-common-border-color-base);
	--w-component-toggle-group-compact-background: var(
		--w-common-background-common-02
	);
}
