:root {
  --w-component-link-font: var(undefined);
  --w-component-link-border: var(undefined);
  --w-component-link-hover-font: var(undefined);
  --w-component-link-hover-border: var(undefined);
  --w-component-link-active-font: var(undefined);
  --w-component-link-active-border: var(undefined);
  --w-component-link-focus-font: var(undefined);
  --w-component-link-focus-border: var(undefined);
  --w-component-link-disabled-font: var(undefined);
  --w-component-link-disabled-border: var(undefined);
  --w-component-link-visited-font: var(undefined);
  --w-component-link-visited-border: var(undefined);
  --w-component-link-icon: var(undefined);
  --w-component-link-hover-icon: var(undefined);
  --w-component-link-active-icon: var(undefined);
  --w-component-link-focus-icon: var(undefined);
  --w-component-link-disabled-icon: var(undefined);
  --w-component-link-visited-icon: var(undefined);
  --w-component-link-inverse-font: var(undefined);
  --w-component-link-inverse-border: var(undefined);
  --w-component-link-inverse-hover-font: var(undefined);
  --w-component-link-inverse-hover-border: var(undefined);
  --w-component-link-inverse-active-font: var(undefined);
  --w-component-link-inverse-active-border: var(undefined);
  --w-component-link-inverse-focus-font: var(undefined);
  --w-component-link-inverse-focus-border: var(undefined);
  --w-component-link-inverse-disabled-font: var(undefined);
  --w-component-link-inverse-disabled-border: var(undefined);
  --w-component-link-inverse-visited-font: var(undefined);
  --w-component-link-inverse-visited-border: var(undefined);
  --w-component-link-inverse-icon: var(undefined);
  --w-component-link-inverse-hover-icon: var(undefined);
  --w-component-link-inverse-active-icon: var(undefined);
  --w-component-link-inverse-focus-icon: var(undefined);
  --w-component-link-inverse-disabled-icon: var(undefined);
  --w-component-link-inverse-visited-icon: var(undefined);
}
