:root {
  --w-container-page-header-font: var(--w-common-font-color-primary);
  --w-container-page-header-background: var(--w-common-background-common-base);
  --w-container-page-header-border: var(--w-common-border-color-base);
}
