:root {
  --w-palette-core-white: #ffffff;
  --w-palette-core-black: #000000;
  --w-palette-neutral-0: var(--w-gray-0);
  --w-palette-neutral-50: var(--w-gray-50);
  --w-palette-neutral-100: var(--w-gray-100);
  --w-palette-neutral-200: var(--w-gray-200);
  --w-palette-neutral-300: var(--w-gray-300);
  --w-palette-neutral-400: var(--w-gray-400);
  --w-palette-neutral-500: var(--w-gray-500);
  --w-palette-neutral-600: var(--w-gray-600);
  --w-palette-neutral-700: var(--w-gray-700);
  --w-palette-neutral-800: var(--w-gray-800);
  --w-palette-neutral-900: var(--w-gray-900);
  --w-palette-neutral-950: var(--w-gray-950);
  --w-palette-red-50: #ffebec;
  --w-palette-red-100: #ffd5d8;
  --w-palette-red-200: #ffc0c5;
  --w-palette-red-300: #ff97a0;
  --w-palette-red-400: #ff6875;
  --w-palette-red-500: #fb3748;
  --w-palette-red-600: #e93544;
  --w-palette-red-700: #d02533;
  --w-palette-red-800: #ad1f2b;
  --w-palette-red-900: #8b1822;
  --w-palette-red-950: #681219;
  --w-palette-orange-50: #fff1eb;
  --w-palette-orange-100: #ffe3d5;
  --w-palette-orange-200: #ffd5c0;
  --w-palette-orange-300: #ffba97;
  --w-palette-orange-400: #ff9a68;
  --w-palette-orange-500: #ff8447;
  --w-palette-orange-600: #e97135;
  --w-palette-orange-700: #d05e25;
  --w-palette-orange-800: #ad4e1f;
  --w-palette-orange-900: #8b3e18;
  --w-palette-orange-950: #682f12;
  --w-palette-yellow-50: #fffaeb;
  --w-palette-yellow-100: #ffefcc;
  --w-palette-yellow-200: #ffecc0;
  --w-palette-yellow-300: #ffe097;
  --w-palette-yellow-400: #ffd268;
  --w-palette-yellow-500: #f6b51e;
  --w-palette-yellow-600: #e6a819;
  --w-palette-yellow-700: #c99a2c;
  --w-palette-yellow-800: #a78025;
  --w-palette-yellow-900: #86661d;
  --w-palette-yellow-950: #624c18;
  --w-palette-green-50: #e0faec;
  --w-palette-green-100: #d0fbe9;
  --w-palette-green-200: #c2f5da;
  --w-palette-green-300: #84ebb4;
  --w-palette-green-400: #3ee089;
  --w-palette-green-500: #1fc16b;
  --w-palette-green-600: #1daf61;
  --w-palette-green-700: #178c4e;
  --w-palette-green-800: #1a7544;
  --w-palette-green-900: #16643b;
  --w-palette-green-950: #0b4627;
  --w-palette-teal-50: #e4fbf8;
  --w-palette-teal-100: #d0fbf5;
  --w-palette-teal-200: #c2f5ee;
  --w-palette-teal-300: #84ebdd;
  --w-palette-teal-400: #3fdec9;
  --w-palette-teal-500: #22d3bb;
  --w-palette-teal-600: #1daf9c;
  --w-palette-teal-700: #178c7d;
  --w-palette-teal-800: #1a7569;
  --w-palette-teal-900: #16645a;
  --w-palette-teal-950: #0b463e;
  --w-palette-sky-50: #ebf8ff;
  --w-palette-sky-100: #d5f1ff;
  --w-palette-sky-200: #c0eaff;
  --w-palette-sky-300: #97dcff;
  --w-palette-sky-400: #68cdff;
  --w-palette-sky-500: #47c2ff;
  --w-palette-sky-600: #35ade9;
  --w-palette-sky-700: #2597d0;
  --w-palette-sky-800: #1f7ead;
  --w-palette-sky-900: #18658b;
  --w-palette-sky-950: #124b68;
  --w-palette-blue-50: #ebf1ff;
  --w-palette-blue-100: #d5e2ff;
  --w-palette-blue-200: #c0d5ff;
  --w-palette-blue-300: #97baff;
  --w-palette-blue-400: #6895ff;
  --w-palette-blue-500: #335cff;
  --w-palette-blue-600: #3559e9;
  --w-palette-blue-700: #2547d0;
  --w-palette-blue-800: #1f3bad;
  --w-palette-blue-900: #182f8b;
  --w-palette-blue-950: #122368;
  --w-palette-purple-50: #efebff;
  --w-palette-purple-100: #dcd5ff;
  --w-palette-purple-200: #cac0ff;
  --w-palette-purple-300: #a897ff;
  --w-palette-purple-400: #8c71f6;
  --w-palette-purple-500: #7d52f4;
  --w-palette-purple-600: #693ee0;
  --w-palette-purple-700: #5b2cc9;
  --w-palette-purple-800: #4c25a7;
  --w-palette-purple-900: #3d1d86;
  --w-palette-purple-950: #351a75;
  --w-palette-pink-50: #ffebf4;
  --w-palette-pink-100: #ffd5ea;
  --w-palette-pink-200: #ffc0df;
  --w-palette-pink-300: #ff97cb;
  --w-palette-pink-400: #ff68b3;
  --w-palette-pink-500: #fb4ba3;
  --w-palette-pink-600: #e9358f;
  --w-palette-pink-700: #d0257a;
  --w-palette-pink-800: #ad1f66;
  --w-palette-pink-900: #8b1852;
  --w-palette-pink-950: #68123d;
  --w-palette-alpha-red-alpha-10: #fb37481a;
  --w-palette-alpha-red-alpha-16: #fb374829;
  --w-palette-alpha-red-alpha-24: #fb37483d;
  --w-palette-alpha-orange-alpha-10: #ff91471a;
  --w-palette-alpha-orange-alpha-16: #ff914729;
  --w-palette-alpha-orange-alpha-24: #ff91473d;
  --w-palette-alpha-green-alpha-10: #1fc16b1a;
  --w-palette-alpha-green-alpha-16: #1fc16b29;
  --w-palette-alpha-green-alpha-24: #1fc16b3d;
  --w-palette-alpha-blue-alpha-10: #476cff1a;
  --w-palette-alpha-blue-alpha-16: #476cff29;
  --w-palette-alpha-blue-alpha-24: #476cff3d;
  --w-palette-alpha-neutral-alpha-10: #99a0ae1a;
  --w-palette-alpha-neutral-alpha-16: #99a0ae29;
  --w-palette-alpha-neutral-alpha-24: #99a0ae3d;
  --w-palette-alpha-pink-alpha-10: #fb4ba31a;
  --w-palette-alpha-pink-alpha-16: #fb4ba329;
  --w-palette-alpha-pink-alpha-24: #fb4ba33d;
  --w-palette-alpha-teal-alpha-10: #22d3bb1a;
  --w-palette-alpha-teal-alpha-16: #22d3bb29;
  --w-palette-alpha-teal-alpha-24: #22d3bb3d;
  --w-palette-alpha-sky-alpha-10: #47c2ff1a;
  --w-palette-alpha-sky-alpha-16: #47c2ff29;
  --w-palette-alpha-sky-alpha-24: #47c2ff3d;
  --w-palette-alpha-purple-alpha-10: #784def1a;
  --w-palette-alpha-purple-alpha-16: #784def29;
  --w-palette-alpha-purple-alpha-24: #784def3d;
  --w-palette-alpha-yellow-alpha-10: #fbc64b1a;
  --w-palette-alpha-yellow-alpha-16: #fbc64b29;
  --w-palette-alpha-yellow-alpha-24: #fbc64b3d;
  --w-palette-alpha-white-alpha-90: #ffffffe5;
  --w-palette-alpha-white-alpha-50: #ffffff80;
  --w-palette-alpha-white-alpha-24: #ffffff3d;
  --w-palette-alpha-white-alpha-16: #ffffff29;
  --w-palette-alpha-white-alpha-10: #ffffff1a;
  --w-palette-alpha-white-alpha-05: #ffffff0d;
  --w-palette-alpha-white-alpha-00: #ffffff00;
  --w-palette-alpha-black-alpha-90: #0e121be5;
  --w-palette-alpha-black-alpha-50: #0e121b80;
  --w-palette-alpha-black-alpha-24: #0e121b3d;
  --w-palette-alpha-black-alpha-16: #0e121b29;
  --w-palette-alpha-black-alpha-10: #0e121b1a;
  --w-palette-alpha-black-alpha-05: #0e121b0d;
  --w-palette-alpha-black-alpha-00: #0e121b00;
  --w-palette-indigo-50: #eef4ff;
  --w-palette-indigo-100: #e0eaff;
  --w-palette-indigo-200: #c6d7fe;
  --w-palette-indigo-300: #a4bcfd;
  --w-palette-indigo-400: #8098f9;
  --w-palette-indigo-500: #6172f3;
  --w-palette-indigo-600: #444ce7;
  --w-palette-indigo-700: #3538cd;
  --w-palette-indigo-800: #2d31a6;
  --w-palette-indigo-900: #2d3282;
  --w-palette-indigo-950: #030621;
}
