:root {
  --w-component-toggle-group-basic-item-selected-border: var(undefined);
  --w-component-toggle-group-basic-item-selected-font: var(undefined);
  --w-component-toggle-group-basic-item-selected-background: var(undefined);
  --w-component-toggle-group-basic-item-selected-hover-border: var(undefined);
  --w-component-toggle-group-basic-item-selected-hover-font: var(undefined);
  --w-component-toggle-group-basic-item-selected-hover-background: var(undefined);
  --w-component-toggle-group-basic-item-selected-focus-border: var(undefined);
  --w-component-toggle-group-basic-item-selected-focus-font: var(undefined);
  --w-component-toggle-group-basic-item-selected-focus-background: var(undefined);
  --w-component-toggle-group-basic-item-selected-disabled-border: var(undefined);
  --w-component-toggle-group-basic-item-selected-disabled-font: var(undefined);
  --w-component-toggle-group-basic-item-selected-disabled-background: var(undefined);
  --w-component-toggle-group-basic-item-disabled-font: var(undefined);
  --w-component-toggle-group-basic-item-focus-font: var(undefined);
  --w-component-toggle-group-basic-item-focus-background: var(undefined);
  --w-component-toggle-group-basic-item-focus-border: var(undefined);
  --w-component-toggle-group-basic-item-font: var(undefined);
  --w-component-toggle-group-basic-item-background: var(undefined);
  --w-component-toggle-group-basic-item-border: var(undefined);
  --w-component-toggle-group-basic-item-hover-border: var(undefined);
  --w-component-toggle-group-basic-item-hover-font: var(undefined);
  --w-component-toggle-group-basic-item-hover-background: var(undefined);
  --w-component-toggle-group-basic-item-disabled-border: var(undefined);
  --w-component-toggle-group-basic-item-disabled-background: var(undefined);
  --w-component-toggle-group-basic-border: var(undefined);
  --w-component-toggle-group-basic-background: var(undefined);
  --w-component-toggle-group-compact-item-font: var(undefined);
  --w-component-toggle-group-compact-item-background: var(undefined);
  --w-component-toggle-group-compact-item-border: var(undefined);
  --w-component-toggle-group-compact-item-hover-font: var(undefined);
  --w-component-toggle-group-compact-item-hover-background: var(undefined);
  --w-component-toggle-group-compact-item-hover-border: var(undefined);
  --w-component-toggle-group-compact-item-disabled-font: var(undefined);
  --w-component-toggle-group-compact-item-disabled-background: var(undefined);
  --w-component-toggle-group-compact-item-disabled-border: var(undefined);
  --w-component-toggle-group-compact-item-focus-font: var(undefined);
  --w-component-toggle-group-compact-item-focus-background: var(undefined);
  --w-component-toggle-group-compact-item-focus-border: var(undefined);
  --w-component-toggle-group-compact-item-selected-font: var(undefined);
  --w-component-toggle-group-compact-item-selected-background: var(undefined);
  --w-component-toggle-group-compact-item-selected-border: var(undefined);
  --w-component-toggle-group-compact-item-selected-hover-font: var(undefined);
  --w-component-toggle-group-compact-item-selected-hover-background: var(undefined);
  --w-component-toggle-group-compact-item-selected-hover-border: var(undefined);
  --w-component-toggle-group-compact-item-selected-focus-font: var(undefined);
  --w-component-toggle-group-compact-item-selected-focus-background: var(undefined);
  --w-component-toggle-group-compact-item-selected-focus-border: var(undefined);
  --w-component-toggle-group-compact-item-selected-disabled-font: var(undefined);
  --w-component-toggle-group-compact-item-selected-disabled-background: var(undefined);
  --w-component-toggle-group-compact-item-selected-disabled-border: var(undefined);
  --w-component-toggle-group-compact-border: var(undefined);
  --w-component-toggle-group-compact-background: var(undefined);
}
