html[data-theme='highContrast'] {
  --w-palette-gray-10: #f5f5f5;
  --w-palette-gray-20: #ebebeb;
  --w-palette-gray-30: #d6d6d6;
  --w-palette-gray-40: #c2c2c2;
  --w-palette-gray-50: #999999;
  --w-palette-gray-60: #666666;
  --w-palette-gray-70: #404040;
  --w-palette-gray-80: #333333;
  --w-palette-gray-90: #191919;
  --w-palette-gray-00: #fafafa;
  --w-palette-green-10: #dcfce7;
  --w-palette-green-20: #bbf7d0;
  --w-palette-green-30: #86efac;
  --w-palette-green-40: #4ade80;
  --w-palette-green-50: #22c55e;
  --w-palette-green-60: #16a34a;
  --w-palette-green-70: #15803d;
  --w-palette-green-80: #166534;
  --w-palette-green-90: #14532d;
  --w-palette-green-00: #f0fdf4;
  --w-palette-blue-10: #dbeafe;
  --w-palette-blue-20: #bfdbfe;
  --w-palette-blue-30: #93c5fd;
  --w-palette-blue-40: #60a5fa;
  --w-palette-blue-50: #3b82f6;
  --w-palette-blue-60: #315efb;
  --w-palette-blue-70: #1d4ed8;
  --w-palette-blue-80: #1e40af;
  --w-palette-blue-90: #1e3a8a;
  --w-palette-blue-00: #eff6ff;
  --w-palette-teal-10: #cffafe;
  --w-palette-teal-20: #a5f3fc;
  --w-palette-teal-30: #67e8f9;
  --w-palette-teal-40: #22d3ee;
  --w-palette-teal-50: #06b6d4;
  --w-palette-teal-60: #0891b2;
  --w-palette-teal-70: #0e7490;
  --w-palette-teal-80: #155e75;
  --w-palette-teal-90: #164e63;
  --w-palette-teal-00: #ecfeff;
  --w-palette-indigo-10: #e0e7ff;
  --w-palette-indigo-20: #c7d2fe;
  --w-palette-indigo-30: #a5b4fc;
  --w-palette-indigo-40: #818cf8;
  --w-palette-indigo-50: #6366f1;
  --w-palette-indigo-60: #4f46e5;
  --w-palette-indigo-70: #4338ca;
  --w-palette-indigo-80: #3730a3;
  --w-palette-indigo-90: #312e81;
  --w-palette-indigo-00: #eef2ff;
  --w-palette-purple-10: #f3e8ff;
  --w-palette-purple-20: #e9d5ff;
  --w-palette-purple-30: #d8b4fe;
  --w-palette-purple-40: #c084fc;
  --w-palette-purple-50: #a855f7;
  --w-palette-purple-60: #9333ea;
  --w-palette-purple-70: #7e22ce;
  --w-palette-purple-80: #6b21a8;
  --w-palette-purple-90: #581c87;
  --w-palette-purple-00: #faf5ff;
  --w-palette-yellow-10: #fef08a;
  --w-palette-yellow-20: #fef08a;
  --w-palette-yellow-30: #fde047;
  --w-palette-yellow-40: #facc15;
  --w-palette-yellow-50: #eab308;
  --w-palette-yellow-60: #ca8a04;
  --w-palette-yellow-70: #a16207;
  --w-palette-yellow-80: #854d0e;
  --w-palette-yellow-90: #713f12;
  --w-palette-yellow-00: #fefce8;
  --w-palette-orange-10: #ffedd5;
  --w-palette-orange-20: #fed7aa;
  --w-palette-orange-30: #fdba74;
  --w-palette-orange-40: #fb923c;
  --w-palette-orange-50: #f97316;
  --w-palette-orange-60: #ea580c;
  --w-palette-orange-70: #c2410c;
  --w-palette-orange-80: #9a3412;
  --w-palette-orange-90: #7c2d12;
  --w-palette-orange-00: #fff7ed;
  --w-palette-red-10: #fee2e2;
  --w-palette-red-20: #fecaca;
  --w-palette-red-30: #fca5a5;
  --w-palette-red-40: #f87171;
  --w-palette-red-50: #ef4444;
  --w-palette-red-60: #dc2626;
  --w-palette-red-70: #b91c1c;
  --w-palette-red-80: #991b1b;
  --w-palette-red-90: #7f1d1d;
  --w-palette-red-00: #fef2f2;
  --w-palette-core-white: #ffffff;
  --w-palette-core-black: #000000;
  --w-palette-transparent-transparent: #ffffff00;
  --w-palette-transparent-white-transparent-10: #ffffff1a;
  --w-palette-transparent-black-transparent-10: #0000001a;
  --w-palette-transparent-white-transparent-70: #ffffff1a;
  --w-palette-transparent-black-transparent-70: #0000001a;
  --w-palette-transparent-white-transparent-05: #ffffff0d;
  --w-palette-transparent-black-transparent-05: #0000000d;
  --w-palette-transparent-mask-black: #00000080;
  --w-palette-transparent-mask-white: #ffffff80;
}
