html[data-theme='highContrast'] {
  --w-component-toggle-default-default-border: var(--w-common-border-color-base);
  --w-component-toggle-default-default-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-default-background: var(--w-common-background-common-base);
  --w-component-toggle-default-hover-border: var(--w-common-border-color-base);
  --w-component-toggle-default-hover-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-default-disabled-border: var(--w-common-border-color-state-disabled);
  --w-component-toggle-default-disabled-background: var(--w-common-background-state-disabled);
  --w-component-toggle-default-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-default-focus-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-default-focus-border: var(--w-common-border-color-base);
  --w-component-toggle-default-checked-default-border: var(--w-common-border-color-base);
  --w-component-toggle-default-checked-default-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-checked-default-background: var(--w-common-background-state-hover);
  --w-component-toggle-default-checked-hover-border: var(--w-common-border-color-base);
  --w-component-toggle-default-checked-hover-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-checked-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-default-checked-focus-border: var(--w-common-border-color-base);
  --w-component-toggle-default-checked-focus-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-checked-focus-background: var(--w-common-background-state-hover);
  --w-component-toggle-default-checked-disabled-border: var(--w-common-border-color-base);
  --w-component-toggle-default-checked-disabled-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-default-checked-disabled-background: var(--w-common-background-state-hover);
  --w-component-toggle-ghost-default-font: var(--w-common-font-color-base);
  --w-component-toggle-ghost-default-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-ghost-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-hover-font: var(--w-common-font-color-secondary);
  --w-component-toggle-ghost-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-ghost-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-ghost-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-ghost-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-focus-font: var(--w-common-font-color-secondary);
  --w-component-toggle-ghost-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-ghost-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-checked-default-font: var(--w-common-font-color-primary);
  --w-component-toggle-ghost-checked-default-background: var(--w-common-background-common-02);
  --w-component-toggle-ghost-checked-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-checked-hover-font: var(--w-common-font-color-primary);
  --w-component-toggle-ghost-checked-hover-background: var(--w-common-background-common-03);
  --w-component-toggle-ghost-checked-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-checked-focus-font: var(--w-common-font-color-primary);
  --w-component-toggle-ghost-checked-focus-background: var(--w-common-background-common-02);
  --w-component-toggle-ghost-checked-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-ghost-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-ghost-checked-disabled-background: var(--w-common-background-common-02);
  --w-component-toggle-ghost-checked-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-default-default-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-default-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-default-background: var(--w-common-background-common-base);
  --w-component-toggle-group-default-hover-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-hover-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-default-disabled-border: var(--w-common-border-color-state-disabled);
  --w-component-toggle-group-default-disabled-background: var(--w-common-background-state-disabled);
  --w-component-toggle-group-default-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-default-focus-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-group-default-focus-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-checked-default-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-checked-default-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-checked-default-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-default-checked-hover-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-checked-hover-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-checked-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-default-checked-focus-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-checked-focus-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-checked-focus-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-default-checked-disabled-border: var(--w-common-border-color-base);
  --w-component-toggle-group-default-checked-disabled-font: var(--w-common-font-color-semantics-highlight);
  --w-component-toggle-group-default-checked-disabled-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-ghost-default-font: var(--w-common-font-color-base);
  --w-component-toggle-group-ghost-default-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-group-ghost-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-hover-font: var(--w-common-font-color-secondary);
  --w-component-toggle-group-ghost-hover-background: var(--w-common-background-state-hover);
  --w-component-toggle-group-ghost-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-ghost-disabled-background: var(--w-common-background-transparent-fully);
  --w-component-toggle-group-ghost-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-focus-font: var(--w-common-font-color-secondary);
  --w-component-toggle-group-ghost-focus-background: var(--w-common-background-common-base);
  --w-component-toggle-group-ghost-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-checked-default-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-ghost-checked-default-background: var(--w-common-background-common-02);
  --w-component-toggle-group-ghost-checked-default-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-checked-hover-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-ghost-checked-hover-background: var(--w-common-background-common-03);
  --w-component-toggle-group-ghost-checked-hover-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-checked-focus-font: var(--w-common-font-color-primary);
  --w-component-toggle-group-ghost-checked-focus-background: var(--w-common-background-common-02);
  --w-component-toggle-group-ghost-checked-focus-border: var(--w-common-border-color-transparent);
  --w-component-toggle-group-ghost-checked-disabled-font: var(--w-common-font-color-state-disabled);
  --w-component-toggle-group-ghost-checked-disabled-background: var(--w-common-background-common-02);
  --w-component-toggle-group-ghost-checked-disabled-border: var(--w-common-border-color-transparent);
  --w-component-toggle-normal-default-border: var(--w-common-border-color-base);
  --w-component-toggle-normal-default-background: var(--w-common-background-state-hover);
  --w-component-toggle-compact-default-border: var(--w-common-border-color-base);
  --w-component-toggle-compact-default-background: var(--w-common-background-state-hover);
}
