@use '@/themes/tool.scss' as tool;
@use '@/themes/style.scss' as style;

@mixin layout-collapse-style() {
  @include style.container-style($component: 'layout', $widget: 'collapse');
  @include style.container-hover-style($component: 'layout', $widget: 'collapse');
  @include style.container-focus-style($component: 'layout', $widget: 'collapse');
}

.box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--w-common-spacing-gap-none) var(--w-common-spacing-gap-lg);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 48px;
  flex: 1 1 auto;
  min-width: 0;
  gap: var(--w-common-spacing-gap-none) var(--w-common-spacing-gap-sm);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 0;
}

.container {
  width: 100%;
}

.actions {
  flex: 0 0 auto;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--w-common-spacing-gap-none) var(--w-common-spacing-gap-sm);
}

.label {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--w-common-font-color-helper);
  font-weight: var(--w-common-font-weight-regular);

  @include tool.font-size(var(--w-common-font-size-text-sm));
}

.content {
  flex: 1 1 auto;
  min-height: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.collapse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: var(--w-common-spacing-common-xs) var(--w-common-spacing-common-xs) 0;
  outline: none;
  border-radius: var(--w-common-border-radius-md);
  cursor: pointer;

  > svg {
    stroke-width: var(--w-common-border-width-icon-sm);
    font-size: var(--w-common-font-size-text-md);
    transition: 0.2s transform;
  }

  &[data-state="closed"] {
    > svg {
      transform: rotate(-90deg);
    }
  }

  @include layout-collapse-style();
}