html[data-theme='dark'] {
  --w-component-avatar-background: #ffffff;
  --w-component-avatar-font: #ffffff;
  --w-component-avatar-fill-purple-background: var(--w-palette-purple-60);
  --w-component-avatar-fill-purple-font: var(--w-common-font-color-inverse);
  --w-component-avatar-fill-purple-border: var(--w-common-border-color-transparent);
  --w-component-avatar-fill-blue-background: var(--w-palette-blue-60);
  --w-component-avatar-fill-blue-font: var(--w-common-font-color-inverse);
  --w-component-avatar-fill-blue-border: var(--w-common-border-color-transparent);
  --w-component-avatar-fill-orange-background: var(--w-palette-orange-60);
  --w-component-avatar-fill-orange-font: var(--w-common-font-color-inverse);
  --w-component-avatar-fill-orange-border: var(--w-common-border-color-transparent);
  --w-component-avatar-fill-red-background: var(--w-palette-red-60);
  --w-component-avatar-fill-red-font: var(--w-common-font-color-inverse);
  --w-component-avatar-fill-red-border: var(--w-common-border-color-transparent);
  --w-component-avatar-fill-green-background: var(--w-palette-green-60);
  --w-component-avatar-fill-green-font: var(--w-common-font-color-inverse);
  --w-component-avatar-fill-green-border: var(--w-common-border-color-transparent);
  --w-component-avatar-fill-gray-background: var(--w-palette-gray-40);
  --w-component-avatar-fill-gray-font: var(--w-common-font-color-inverse);
  --w-component-avatar-fill-gray-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-purple-background: var(--w-palette-purple-10);
  --w-component-avatar-light-purple-font: var(--w-palette-purple-60);
  --w-component-avatar-light-purple-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-blue-background: var(--w-palette-blue-10);
  --w-component-avatar-light-blue-font: var(--w-palette-blue-60);
  --w-component-avatar-light-blue-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-orange-background: var(--w-palette-orange-10);
  --w-component-avatar-light-orange-font: var(--w-palette-orange-60);
  --w-component-avatar-light-orange-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-red-background: var(--w-palette-red-10);
  --w-component-avatar-light-red-font: var(--w-palette-red-60);
  --w-component-avatar-light-red-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-green-background: var(--w-palette-green-10);
  --w-component-avatar-light-green-font: var(--w-palette-green-60);
  --w-component-avatar-light-green-border: var(--w-common-border-color-transparent);
  --w-component-avatar-light-gray-background: var(--w-palette-gray-10);
  --w-component-avatar-light-gray-font: var(--w-palette-gray-60);
  --w-component-avatar-light-gray-border: var(--w-common-border-color-transparent);
  --w-component-avatar-white-purple-background: var(--w-common-background-common-base);
  --w-component-avatar-white-purple-font: var(--w-palette-purple-60);
  --w-component-avatar-white-purple-border: var(--w-common-border-color-base);
  --w-component-avatar-white-blue-background: var(--w-common-background-common-base);
  --w-component-avatar-white-blue-font: var(--w-palette-blue-60);
  --w-component-avatar-white-blue-border: var(--w-common-border-color-base);
  --w-component-avatar-white-orange-background: var(--w-common-background-common-base);
  --w-component-avatar-white-orange-font: var(--w-palette-orange-60);
  --w-component-avatar-white-orange-border: var(--w-common-border-color-base);
  --w-component-avatar-white-red-background: var(--w-common-background-common-base);
  --w-component-avatar-white-red-font: var(--w-palette-red-60);
  --w-component-avatar-white-red-border: var(--w-common-border-color-base);
  --w-component-avatar-white-green-background: var(--w-common-background-common-base);
  --w-component-avatar-white-green-font: var(--w-palette-green-60);
  --w-component-avatar-white-green-border: var(--w-common-border-color-base);
  --w-component-avatar-white-gray-background: var(--w-common-background-common-base);
  --w-component-avatar-white-gray-font: var(--w-palette-gray-60);
  --w-component-avatar-white-gray-border: var(--w-common-border-color-base);
}
