html[data-theme='dark'] {
  --w-component-dropdown-font: #ffffff;
  --w-component-dropdown-background: #ffffff;
  --w-component-dropdown-border: #ffffff;
  --w-component-dropdown-hover-font: #ffffff;
  --w-component-dropdown-hover-background: #ffffff;
  --w-component-dropdown-hover-border: #ffffff;
  --w-component-dropdown-focus-background: #ffffff;
  --w-component-dropdown-focus-border: #ffffff;
  --w-component-dropdown-focus-font: #ffffff;
  --w-component-dropdown-active-font: #ffffff;
  --w-component-dropdown-active-background: #ffffff;
  --w-component-dropdown-active-border: #ffffff;
  --w-component-dropdown-selected-font: #ffffff;
  --w-component-dropdown-selected-background: #ffffff;
  --w-component-dropdown-selected-border: #ffffff;
  --w-component-dropdown-disabled-font: #ffffff;
  --w-component-dropdown-disabled-background: #ffffff;
  --w-component-dropdown-disabled-border: #ffffff;
  --w-component-dropdown-item-font: #ffffff;
  --w-component-dropdown-item-background: #ffffff;
  --w-component-dropdown-item-border: #ffffff;
  --w-component-dropdown-item-hover-font: #ffffff;
  --w-component-dropdown-item-hover-background: #ffffff;
  --w-component-dropdown-item-hover-border: #ffffff;
  --w-component-dropdown-item-active-font: #ffffff;
  --w-component-dropdown-item-active-background: #ffffff;
  --w-component-dropdown-item-active-border: #ffffff;
  --w-component-dropdown-item-selected-font: #ffffff;
  --w-component-dropdown-item-selected-background: #ffffff;
  --w-component-dropdown-item-selected-border: #ffffff;
  --w-component-dropdown-item-disabled-font: #ffffff;
  --w-component-dropdown-item-disabled-background: #ffffff;
  --w-component-dropdown-item-disabled-border: #ffffff;
  --w-component-dropdown-item-danger-font: #ffffff;
  --w-component-dropdown-item-danger-background: #ffffff;
  --w-component-dropdown-item-danger-border: #ffffff;
  --w-component-dropdown-item-danger-hover-font: #ffffff;
  --w-component-dropdown-item-danger-hover-background: #ffffff;
  --w-component-dropdown-item-danger-hover-border: #ffffff;
  --w-component-dropdown-item-danger-focus-font: #ffffff;
  --w-component-dropdown-item-danger-focus-background: #ffffff;
  --w-component-dropdown-item-danger-focus-border: #ffffff;
  --w-component-dropdown-item-danger-active-font: #ffffff;
  --w-component-dropdown-item-danger-active-background: #ffffff;
  --w-component-dropdown-item-danger-active-border: #ffffff;
  --w-component-dropdown-item-danger-selected-font: #ffffff;
  --w-component-dropdown-item-danger-selected-background: #ffffff;
  --w-component-dropdown-item-danger-selected-border: #ffffff;
  --w-component-dropdown-item-danger-disabled-font: #ffffff;
  --w-component-dropdown-item-danger-disabled-background: #ffffff;
  --w-component-dropdown-item-danger-disabled-border: #ffffff;
  --w-component-dropdown-item-danger-checked-font: #ffffff;
  --w-component-dropdown-item-danger-checked-background: #ffffff;
  --w-component-dropdown-item-danger-checked-border: #ffffff;
  --w-component-dropdown-item-danger-checked-hover-font: #ffffff;
  --w-component-dropdown-item-danger-checked-hover-background: #ffffff;
  --w-component-dropdown-item-danger-checked-hover-border: #ffffff;
  --w-component-dropdown-item-danger-checked-focus-font: #ffffff;
  --w-component-dropdown-item-danger-checked-focus-background: #ffffff;
  --w-component-dropdown-item-danger-checked-focus-border: #ffffff;
  --w-component-dropdown-item-danger-checked-active-background: #ffffff;
  --w-component-dropdown-item-danger-checked-active-border: #ffffff;
  --w-component-dropdown-item-danger-checked-active-font: #ffffff;
  --w-component-dropdown-item-danger-checked-selected-font: #ffffff;
  --w-component-dropdown-item-danger-checked-selected-background: #ffffff;
  --w-component-dropdown-item-danger-checked-selected-border: #ffffff;
  --w-component-dropdown-item-danger-checked-disabled-font: #ffffff;
  --w-component-dropdown-item-danger-checked-disabled-background: #ffffff;
  --w-component-dropdown-item-danger-checked-disabled-border: #ffffff;
  --w-component-dropdown-item-checked-font: #ffffff;
  --w-component-dropdown-item-checked-background: #ffffff;
  --w-component-dropdown-item-checked-border: #ffffff;
  --w-component-dropdown-item-checked-hover-background: #ffffff;
  --w-component-dropdown-item-checked-hover-border: #ffffff;
  --w-component-dropdown-item-checked-hover-font: #ffffff;
  --w-component-dropdown-item-checked-active-font: #ffffff;
  --w-component-dropdown-item-checked-active-background: #ffffff;
  --w-component-dropdown-item-checked-active-border: #ffffff;
  --w-component-dropdown-item-checked-selected-font: #ffffff;
  --w-component-dropdown-item-checked-selected-background: #ffffff;
  --w-component-dropdown-item-checked-selected-border: #ffffff;
  --w-component-dropdown-item-checked-disabled-font: #ffffff;
  --w-component-dropdown-item-checked-disabled-background: #ffffff;
  --w-component-dropdown-item-checked-disabled-border: #ffffff;
  --w-component-dropdown-button-primary-selected-font: #ffffff;
  --w-component-dropdown-button-primary-selected-background: #ffffff;
  --w-component-dropdown-button-primary-selected-border: #ffffff;
  --w-component-dropdown-button-classic-selected-font: #ffffff;
  --w-component-dropdown-button-classic-selected-border: #ffffff;
  --w-component-dropdown-button-classic-selected-background: #ffffff;
  --w-component-dropdown-button-secondary-selected-font: #ffffff;
  --w-component-dropdown-button-secondary-selected-border: #ffffff;
  --w-component-dropdown-button-secondary-selected-background: #ffffff;
  --w-component-dropdown-popper-background: #ffffff;
  --w-component-dropdown-popper-border: #ffffff;
}
