html[data-theme='dark'] {
  --w-palette-gray-10: #262626;
  --w-palette-gray-20: #404040;
  --w-palette-gray-30: #525252;
  --w-palette-gray-40: #737373;
  --w-palette-gray-50: #a3a3a3;
  --w-palette-gray-60: #d4d4d4;
  --w-palette-gray-70: #ebebeb;
  --w-palette-gray-80: #f5f5f5;
  --w-palette-gray-90: #fafafa;
  --w-palette-gray-00: #171717;
  --w-palette-green-10: #dbfae6;
  --w-palette-green-20: #a9efc5;
  --w-palette-green-30: #75e0a7;
  --w-palette-green-40: #47cd89;
  --w-palette-green-50: #17b26a;
  --w-palette-green-60: #079455;
  --w-palette-green-70: #067647;
  --w-palette-green-80: #085d3a;
  --w-palette-green-90: #074d31;
  --w-palette-green-00: #ecfdf3;
  --w-palette-blue-10: #d1e0ff;
  --w-palette-blue-20: #b2ccff;
  --w-palette-blue-30: #84adff;
  --w-palette-blue-40: #528bff;
  --w-palette-blue-50: #2970ff;
  --w-palette-blue-60: #155eef;
  --w-palette-blue-70: #004eeb;
  --w-palette-blue-80: #0040c1;
  --w-palette-blue-90: #00359e;
  --w-palette-blue-00: #eff4ff;
  --w-palette-teal-10: #ccfbef;
  --w-palette-teal-20: #99f6e0;
  --w-palette-teal-30: #5fe9d0;
  --w-palette-teal-40: #2ed3b7;
  --w-palette-teal-50: #15b79e;
  --w-palette-teal-60: #0e9384;
  --w-palette-teal-70: #107569;
  --w-palette-teal-80: #125d56;
  --w-palette-teal-90: #134e48;
  --w-palette-teal-00: #f0fdf9;
  --w-palette-indigo-10: #e0eaff;
  --w-palette-indigo-20: #c6d7fe;
  --w-palette-indigo-30: #a4bcfd;
  --w-palette-indigo-40: #8098f9;
  --w-palette-indigo-50: #6172f3;
  --w-palette-indigo-60: #444ce7;
  --w-palette-indigo-70: #3538cd;
  --w-palette-indigo-80: #2d31a6;
  --w-palette-indigo-90: #2d3282;
  --w-palette-indigo-00: #eef4ff;
  --w-palette-purple-10: #4a1fb8;
  --w-palette-purple-20: #5925dc;
  --w-palette-purple-30: #6938ef;
  --w-palette-purple-40: #7a5af8;
  --w-palette-purple-50: #9b8afb;
  --w-palette-purple-60: #bdb4fe;
  --w-palette-purple-70: #d9d6fe;
  --w-palette-purple-80: #ebe9fe;
  --w-palette-purple-90: #f4f3ff;
  --w-palette-purple-00: #3e1c96;
  --w-palette-yellow-10: #fef7c3;
  --w-palette-yellow-20: #feee95;
  --w-palette-yellow-30: #fde272;
  --w-palette-yellow-40: #fac415;
  --w-palette-yellow-50: #eaaa08;
  --w-palette-yellow-60: #ca8504;
  --w-palette-yellow-70: #a15c07;
  --w-palette-yellow-80: #85490e;
  --w-palette-yellow-90: #713b12;
  --w-palette-yellow-00: #fefbe8;
  --w-palette-orange-10: #fdead7;
  --w-palette-orange-20: #f9dbaf;
  --w-palette-orange-30: #f7b27a;
  --w-palette-orange-40: #f38744;
  --w-palette-orange-50: #ef6820;
  --w-palette-orange-60: #e04f16;
  --w-palette-orange-70: #b93815;
  --w-palette-orange-80: #932f19;
  --w-palette-orange-90: #772917;
  --w-palette-orange-00: #fef6ee;
  --w-palette-red-10: #fee4e2;
  --w-palette-red-20: #fecdc9;
  --w-palette-red-30: #fda19b;
  --w-palette-red-40: #f97066;
  --w-palette-red-50: #f04438;
  --w-palette-red-60: #d92d20;
  --w-palette-red-70: #b32318;
  --w-palette-red-80: #912018;
  --w-palette-red-90: #7a271a;
  --w-palette-red-00: #fef3f2;
  --w-palette-rose-10: #ffe4e8;
  --w-palette-rose-20: #feccd6;
  --w-palette-rose-30: #fea3b4;
  --w-palette-rose-40: #fd6f8e;
  --w-palette-rose-50: #f63d68;
  --w-palette-rose-60: #e31b53;
  --w-palette-rose-70: #c01048;
  --w-palette-rose-80: #a11043;
  --w-palette-rose-90: #89123e;
  --w-palette-rose-00: #fff1f3;
  --w-palette-core-white: #0c0e12;
  --w-palette-core-black: #ffffff;
  --w-palette-transparent-transparent: #00000000;
  --w-palette-transparent-white-transparent-10: #0000001a;
  --w-palette-transparent-black-transparent-10: #ffffff1a;
  --w-palette-transparent-white-transparent-70: #000000b2;
  --w-palette-transparent-black-transparent-70: #ffffffb2;
  --w-palette-transparent-white-transparent-05: #0000000d;
  --w-palette-transparent-black-transparent-05: #ffffff0d;
  --w-palette-transparent-mask-black: #ffffff80;
  --w-palette-transparent-mask-white: #00000080;
}
