:root {
  --w-gray-0: #ffffff;
  --w-gray-50: #fafafa;
  --w-gray-100: #f5f5f5;
  --w-gray-200: #e5e5e5;
  --w-gray-300: #d4d4d4;
  --w-gray-400: #b8b8b8;
  --w-gray-500: #6e6e6e;
  --w-gray-600: #525252;
  --w-gray-700: #3d3d3d;
  --w-gray-800: #222222;
  --w-gray-900: #171717;
  --w-gray-950: #0a0a0a;
}
