html[data-theme='blue'] {
  --w-common-background-common-base: var(--w-palette-core-white);
  --w-common-background-common-01: var(--w-palette-gray-00);
  --w-common-background-common-02: var(--w-palette-gray-10);
  --w-common-background-common-03: var(--w-palette-gray-20);
  --w-common-background-common-black: var(--w-palette-core-black);
  --w-common-background-common-gray: var(--w-palette-core-black);
  --w-common-background-state-hover: var(--w-palette-gray-10);
  --w-common-background-state-disabled: var(--w-palette-gray-10);
  --w-common-background-state-active: var(--w-palette-blue-00);
  --w-common-background-state-selected: var(--w-palette-blue-00);
  --w-common-background-state-selected-hover: var(--w-palette-blue-10);
  --w-common-background-semantics-highlight: var(--w-palette-blue-60);
  --w-common-background-semantics-highlight-hover: var(--w-palette-blue-70);
  --w-common-background-semantics-highlight-light: var(--w-palette-blue-00);
  --w-common-background-semantics-highlight-active: var(--w-palette-blue-00);
  --w-common-background-semantics-highlight-light-hover: var(--w-palette-blue-10);
  --w-common-background-semantics-success: var(--w-palette-green-60);
  --w-common-background-semantics-success-light: var(--w-palette-green-00);
  --w-common-background-semantics-success-disabled: var(--w-palette-green-20);
  --w-common-background-semantics-success-active: var(--w-palette-green-00);
  --w-common-background-semantics-success-hover: var(--w-palette-green-70);
  --w-common-background-semantics-success-light-hover: var(--w-palette-green-10);
  --w-common-background-semantics-error: var(--w-palette-red-60);
  --w-common-background-semantics-error-light: var(--w-palette-red-00);
  --w-common-background-semantics-error-active: var(--w-palette-red-00);
  --w-common-background-semantics-error-hover: var(--w-palette-red-70);
  --w-common-background-semantics-error-light-hover: var(--w-palette-red-10);
  --w-common-background-semantics-warning: var(--w-palette-orange-60);
  --w-common-background-semantics-warning-light: var(--w-palette-orange-00);
  --w-common-background-semantics-warning-active: var(--w-palette-orange-00);
  --w-common-background-semantics-warning-hover: var(--w-palette-orange-70);
  --w-common-background-semantics-warning-light-hover: var(--w-palette-orange-10);
  --w-common-background-transparent-overlay-black: var(--w-palette-transparent-mask-black);
  --w-common-background-transparent-overlay-black-10: var(--w-palette-transparent-black-transparent-10);
  --w-common-background-transparent-overlay-white: var(--w-palette-transparent-mask-white);
  --w-common-background-transparent-overlay-white-10: var(--w-palette-transparent-white-transparent-10);
  --w-common-background-transparent-overlay-black-05: var(--w-palette-transparent-black-transparent-05);
  --w-common-background-transparent-overlay-white-05: var(--w-palette-transparent-white-transparent-05);
  --w-common-background-transparent-fully: var(--w-palette-transparent-transparent);
}
