:root[data-theme="dark"] {
  --w-common-background-common-base: var(--w-palette-core-white);
  --w-common-background-common-01: var(--w-palette-neutral-50);
  --w-common-background-common-02: var(--w-palette-neutral-100);
  --w-common-background-common-03: var(--w-palette-neutral-200);
  --w-common-background-common-black: var(--w-palette-core-black);
  --w-common-background-common-gray: #262626;
  --w-common-background-state-hover: var(--w-palette-neutral-100);
  --w-common-background-state-disabled: var(--w-palette-neutral-200);
  --w-common-background-state-active: var(--w-common-brand-lighter);
  --w-common-background-state-selected: var(--w-palette-neutral-100);
  --w-common-background-state-selected-hover: var(--w-palette-neutral-200);
  --w-common-background-semantics-highlight: var(--w-common-brand);
  --w-common-background-semantics-highlight-light: var(--w-common-brand-lighter);
  --w-common-background-semantics-success: var(--w-palette-green-600);
  --w-common-background-semantics-success-light: var(--w-palette-green-50);
  --w-common-background-semantics-success-disabled: var(--w-palette-green-200);
  --w-common-background-semantics-error: var(--w-palette-red-600);
  --w-common-background-semantics-error-light: var(--w-palette-red-50);
  --w-common-background-semantics-warning: var(--w-palette-orange-600);
  --w-common-background-semantics-warning-light: var(--w-palette-orange-50);
  --w-common-background-semantics-highlight-dark: var(--w-common-brand-dark);
  --w-common-background-semantics-highlight-hover: var(--w-common-brand-darker);
  --w-common-background-semantics-success-active: var(--w-palette-green-100);
  --w-common-background-semantics-success-hover: var(--w-palette-green-700);
  --w-common-background-semantics-error-dark: var(--w-palette-red-900);
  --w-common-background-semantics-error-hover: var(--w-palette-red-700);
  --w-common-background-semantics-warning-active: var(--w-palette-orange-100);
  --w-common-background-semantics-warning-hover: var(--w-palette-orange-700);
  --w-common-background-semantics-error-light-hover: var(--w-palette-red-100);
  --w-common-background-semantics-warning-light-hover: var(
    --w-palette-orange-100
  );
  --w-common-background-semantics-success-light-hover: var(
    --w-palette-green-100
  );
  --w-common-background-semantics-highlight-light-hover: var(
    --w-common-brand-lighter
  );
  --w-common-background-semantics-black: var(--w-palette-neutral-800);
  --w-common-background-semantics-light: var(--w-palette-neutral-200);
  --w-common-background-transparent-fully: var(--w-palette-alpha-black-alpha-00);
  --w-common-background-transparent-overlay-black: var(
    --w-palette-alpha-black-alpha-50
  );
  --w-common-background-transparent-overlay-white: var(
    --w-palette-alpha-white-alpha-50
  );
  --w-common-background-transparent-overlay-white-10: var(
    --w-palette-alpha-white-alpha-10
  );
  --w-common-background-transparent-overlay-black-10: var(
    --w-palette-alpha-black-alpha-10
  );
  --w-common-background-transparent-overlay-black-05: var(
    --w-palette-alpha-black-alpha-05
  );
  --w-common-background-transparent-overlay-white-05: var(
    --w-palette-alpha-white-alpha-05
  );
  --w-common-background-transparent-overlay-white-09: var(
    --w-palette-alpha-white-alpha-90
  );
  --w-common-background-transparent-overlay-black-09: var(
    --w-palette-alpha-black-alpha-90
  );
  --w-common-font-color-base: var(--w-palette-neutral-600);
  --w-common-font-color-primary: var(--w-palette-neutral-900);
  --w-common-font-color-secondary: var(--w-palette-neutral-800);
  --w-common-font-color-tertiary: var(--w-palette-neutral-700);
  --w-common-font-color-helper: var(--w-palette-neutral-500);
  --w-common-font-color-icon: var(--w-palette-neutral-300);
  --w-common-font-color-inverse: var(--w-palette-core-white);
  --w-common-font-color-inverse-highlight-hover: var(--w-common-brand-light);
  --w-common-font-color-inverse-highlight: var(--w-common-brand-lighter);
  --w-common-font-color-inverse-disabled: var(--w-palette-neutral-400);
  --w-common-font-color-inverse-visted: var(--w-common-brand-lighter);
  --w-common-font-color-icon-hover: var(--w-palette-neutral-400);
  --w-common-font-color-helper-hover: var(--w-palette-neutral-600);
  --w-common-font-color-state-placeholder: var(--w-palette-neutral-400);
  --w-common-font-color-state-disabled: var(--w-palette-neutral-400);
  --w-common-font-color-state-visted: var(--w-common-brand-darker);
  --w-common-font-color-semantics-error: var(--w-palette-red-600);
  --w-common-font-color-semantics-highlight: var(--w-common-brand);
  --w-common-font-color-semantics-success: var(--w-palette-green-600);
  --w-common-font-color-semantics-warning: var(--w-palette-orange-600);
  --w-common-font-color-semantics-error-disabled: var(--w-palette-red-300);
  --w-common-font-color-semantics-error-light: var(--w-palette-red-50);
  --w-common-font-color-semantics-highlight-hover: var(--w-common-brand-light);
  --w-common-font-family-base: DM Sans;
  --w-common-font-family-code: Menlo;
  --w-common-font-family-emphasis: Times New Roman;
  --w-common-font-family-quote: Times New Roman;
  --w-common-font-size-text-base: 14px;
  --w-common-font-size-text-sm: 12px;
  --w-common-font-size-text-md: 16px;
  --w-common-font-size-text-lg: 18px;
  --w-common-font-size-text-xl: 20px;
  --w-common-font-size-text-xxl: 24px;
  --w-common-font-size-heading-sm: 16px;
  --w-common-font-size-heading-base: 20px;
  --w-common-font-size-heading-md: 24px;
  --w-common-font-size-heading-lg: 32px;
  --w-common-font-size-heading-xlg: 36px;
  --w-common-font-weight-light: 300;
  --w-common-font-weight-regular: 400;
  --w-common-font-weight-semibold: 600;
  --w-common-font-weight-bold: 700;
  --w-common-font-weight-black: 900;
  --w-common-font-weight-medium: 500;
  --w-common-border-color-base: var(--w-palette-neutral-200);
  --w-common-border-color-01: var(--w-palette-neutral-100);
  --w-common-border-color-02: var(--w-palette-neutral-200);
  --w-common-border-color-03: var(--w-palette-neutral-300);
  --w-common-border-color-inverse: var(--w-palette-core-white);
  --w-common-border-color-inverse-highlight: var(--w-common-brand-light);
  --w-common-border-color-inverse-highlight-hover: var(--w-common-brand-lighter);
  --w-common-border-color-transparent: var(--w-palette-alpha-white-alpha-00);
  --w-common-border-color-white-transparent-10: var(
    --w-palette-alpha-white-alpha-10
  );
  --w-common-border-color-black-transparent-10: var(
    --w-palette-alpha-black-alpha-10
  );
  --w-common-border-color-state-disabled: var(--w-palette-neutral-200);
  --w-common-border-color-state-focus: var(--w-common-brand-light);
  --w-common-border-color-semantics-highlight: var(--w-common-brand);
  --w-common-border-color-semantics-highlight-hover: var(--w-common-brand-dark);
  --w-common-border-color-semantics-success: var(--w-palette-green-600);
  --w-common-border-color-semantics-success-hover: var(--w-palette-green-700);
  --w-common-border-color-semantics-error: var(--w-palette-red-600);
  --w-common-border-color-semantics-error-hover: var(--w-palette-red-700);
  --w-common-border-color-semantics-warning: var(--w-palette-orange-600);
  --w-common-border-color-semantics-warning-hover: var(--w-palette-orange-700);
  --w-common-border-color-semantics-error-disabled: var(--w-palette-neutral-300);
  --w-common-border-color-semantics-highlight-light: var(
    --w-common-brand-lighter
  );
  --w-common-border-color-semantics-error-light: var(--w-palette-red-200);
  --w-common-border-color-semantics-error-light-disabled: var(
    --w-palette-red-100
  );
  --w-common-border-width-none: 0px;
  --w-common-border-width-sm: 1px;
  --w-common-border-width-md: 2px;
  --w-common-border-width-lg: 4px;
  --w-common-border-width-icon-none: 0px;
  --w-common-border-width-icon-sm: 1px;
  --w-common-border-width-icon-md: 1.5px;
  --w-common-border-width-icon-lg: 2px;
  --w-common-border-radius-none: 0px;
  --w-common-border-radius-sm: 2px;
  --w-common-border-radius-md: 4px;
  --w-common-border-radius-lg: 8px;
  --w-common-border-radius-xlg: 16px;
  --w-common-border-radius-circular: 99999px;
  --w-common-spacing-common-none: 0px;
  --w-common-spacing-common-xxs: 2px;
  --w-common-spacing-common-xs: 4px;
  --w-common-spacing-common-sm: 8px;
  --w-common-spacing-common-lg: 16px;
  --w-common-spacing-common-xl: 24px;
  --w-common-spacing-common-xxl: 32px;
  --w-common-spacing-common-xxxl: 48px;
  --w-common-spacing-common-md: 12px;
  --w-common-spacing-gap-none: 0px;
  --w-common-spacing-gap-xm: 2px;
  --w-common-spacing-gap-sm: 4px;
  --w-common-spacing-gap-md: 8px;
  --w-common-spacing-gap-lg: 16px;
  --w-common-spacing-gap-xl: 24px;
  --w-common-spacing-scale-1: 1px;
  --w-common-spacing-scale-2: 1.5px;
  --w-common-spacing-scale-3: 2px;
  --w-common-shadow-state-focus-default: var(--w-common-brand-lighter);
  --w-common-shadow-state-focus-danger: var(--w-palette-red-400);
  --w-common-shadow-state-focus-inner: var(--w-palette-core-white);
  --w-common-shadow-color-02: #0000001a;
  --w-common-shadow-color-01: #0000000d;
  --w-common-shadow-color-03: #00000040;
  --w-common-shadow-color-04: #00000066;
}

:root {
  --w-common-background-common-base: var(--w-palette-core-white);
  --w-common-background-common-01: var(--w-palette-neutral-50);
  --w-common-background-common-02: var(--w-palette-neutral-100);
  --w-common-background-common-03: var(--w-palette-neutral-200);
  --w-common-background-common-black: var(--w-palette-core-black);
  --w-common-background-common-gray: #262626;
  --w-common-background-state-hover: var(--w-palette-neutral-100);
  --w-common-background-state-disabled: var(--w-palette-neutral-200);
  --w-common-background-state-active: var(--w-common-brand-lighter);
  --w-common-background-state-selected: var(--w-palette-neutral-100);
  --w-common-background-state-selected-hover: var(--w-palette-neutral-200);
  --w-common-background-semantics-highlight: var(--w-common-brand);
  --w-common-background-semantics-highlight-light: var(--w-common-brand-lighter);
  --w-common-background-semantics-success: var(--w-palette-green-600);
  --w-common-background-semantics-success-light: var(--w-palette-green-50);
  --w-common-background-semantics-success-disabled: var(--w-palette-green-200);
  --w-common-background-semantics-error: var(--w-palette-red-600);
  --w-common-background-semantics-error-light: var(--w-palette-red-50);
  --w-common-background-semantics-warning: var(--w-palette-orange-600);
  --w-common-background-semantics-warning-light: var(--w-palette-orange-50);
  --w-common-background-semantics-highlight-dark: var(--w-common-brand-dark);
  --w-common-background-semantics-highlight-hover: var(--w-common-brand-darker);
  --w-common-background-semantics-success-active: var(--w-palette-green-100);
  --w-common-background-semantics-success-hover: var(--w-palette-green-700);
  --w-common-background-semantics-error-dark: var(--w-palette-red-900);
  --w-common-background-semantics-error-hover: var(--w-palette-red-700);
  --w-common-background-semantics-warning-active: var(--w-palette-orange-100);
  --w-common-background-semantics-warning-hover: var(--w-palette-orange-700);
  --w-common-background-semantics-error-light-hover: var(--w-palette-red-100);
  --w-common-background-semantics-warning-light-hover: var(
    --w-palette-orange-100
  );
  --w-common-background-semantics-success-light-hover: var(
    --w-palette-green-100
  );
  --w-common-background-semantics-highlight-light-hover: var(
    --w-common-brand-lighter
  );
  --w-common-background-semantics-black: var(--w-palette-neutral-800);
  --w-common-background-semantics-light: var(--w-palette-neutral-200);
  --w-common-background-transparent-fully: var(--w-palette-alpha-black-alpha-00);
  --w-common-background-transparent-overlay-black: var(
    --w-palette-alpha-black-alpha-50
  );
  --w-common-background-transparent-overlay-white: var(
    --w-palette-alpha-white-alpha-50
  );
  --w-common-background-transparent-overlay-white-10: var(
    --w-palette-alpha-white-alpha-10
  );
  --w-common-background-transparent-overlay-black-10: var(
    --w-palette-alpha-black-alpha-10
  );
  --w-common-background-transparent-overlay-black-05: var(
    --w-palette-alpha-black-alpha-05
  );
  --w-common-background-transparent-overlay-white-05: var(
    --w-palette-alpha-white-alpha-05
  );
  --w-common-background-transparent-overlay-white-09: var(
    --w-palette-alpha-white-alpha-90
  );
  --w-common-background-transparent-overlay-black-09: var(
    --w-palette-alpha-black-alpha-90
  );
  --w-common-font-color-base: var(--w-palette-neutral-600);
  --w-common-font-color-primary: var(--w-palette-neutral-900);
  --w-common-font-color-secondary: var(--w-palette-neutral-800);
  --w-common-font-color-tertiary: var(--w-palette-neutral-700);
  --w-common-font-color-helper: var(--w-palette-neutral-500);
  --w-common-font-color-icon: var(--w-palette-neutral-300);
  --w-common-font-color-inverse: var(--w-palette-core-white);
  --w-common-font-color-inverse-highlight-hover: var(--w-common-brand-light);
  --w-common-font-color-inverse-highlight: var(--w-common-brand-lighter);
  --w-common-font-color-inverse-disabled: var(--w-palette-neutral-400);
  --w-common-font-color-inverse-visted: var(--w-common-brand-lighter);
  --w-common-font-color-icon-hover: var(--w-palette-neutral-400);
  --w-common-font-color-helper-hover: var(--w-palette-neutral-600);
  --w-common-font-color-state-placeholder: var(--w-palette-neutral-400);
  --w-common-font-color-state-disabled: var(--w-palette-neutral-400);
  --w-common-font-color-state-visted: var(--w-common-brand-darker);
  --w-common-font-color-semantics-error: var(--w-palette-red-600);
  --w-common-font-color-semantics-highlight: var(--w-common-brand);
  --w-common-font-color-semantics-success: var(--w-palette-green-600);
  --w-common-font-color-semantics-warning: var(--w-palette-orange-600);
  --w-common-font-color-semantics-error-disabled: var(--w-palette-red-300);
  --w-common-font-color-semantics-error-light: var(--w-palette-red-50);
  --w-common-font-color-semantics-highlight-hover: var(--w-common-brand-light);
  --w-common-font-family-base: DM Sans;
  --w-common-font-family-code: Menlo;
  --w-common-font-family-emphasis: Times New Roman;
  --w-common-font-family-quote: Times New Roman;
  --w-common-font-size-text-base: 14px;
  --w-common-font-size-text-sm: 12px;
  --w-common-font-size-text-md: 16px;
  --w-common-font-size-text-lg: 18px;
  --w-common-font-size-text-xl: 20px;
  --w-common-font-size-text-xxl: 24px;
  --w-common-font-size-heading-sm: 16px;
  --w-common-font-size-heading-base: 20px;
  --w-common-font-size-heading-md: 24px;
  --w-common-font-size-heading-lg: 32px;
  --w-common-font-size-heading-xlg: 36px;
  --w-common-font-weight-light: 300;
  --w-common-font-weight-regular: 400;
  --w-common-font-weight-semibold: 600;
  --w-common-font-weight-bold: 700;
  --w-common-font-weight-black: 900;
  --w-common-font-weight-medium: 500;
  --w-common-border-color-base: var(--w-palette-neutral-200);
  --w-common-border-color-01: var(--w-palette-neutral-100);
  --w-common-border-color-02: var(--w-palette-neutral-200);
  --w-common-border-color-03: var(--w-palette-neutral-300);
  --w-common-border-color-inverse: var(--w-palette-core-white);
  --w-common-border-color-inverse-highlight: var(--w-common-brand-light);
  --w-common-border-color-inverse-highlight-hover: var(--w-common-brand-lighter);
  --w-common-border-color-transparent: var(--w-palette-alpha-white-alpha-00);
  --w-common-border-color-white-transparent-10: var(
    --w-palette-alpha-white-alpha-10
  );
  --w-common-border-color-black-transparent-10: var(
    --w-palette-alpha-black-alpha-10
  );
  --w-common-border-color-state-disabled: var(--w-palette-neutral-200);
  --w-common-border-color-state-focus: var(--w-common-brand-light);
  --w-common-border-color-semantics-highlight: var(--w-common-brand);
  --w-common-border-color-semantics-highlight-hover: var(--w-common-brand-dark);
  --w-common-border-color-semantics-success: var(--w-palette-green-600);
  --w-common-border-color-semantics-success-hover: var(--w-palette-green-700);
  --w-common-border-color-semantics-error: var(--w-palette-red-600);
  --w-common-border-color-semantics-error-hover: var(--w-palette-red-700);
  --w-common-border-color-semantics-warning: var(--w-palette-orange-600);
  --w-common-border-color-semantics-warning-hover: var(--w-palette-orange-700);
  --w-common-border-color-semantics-error-disabled: var(--w-palette-neutral-300);
  --w-common-border-color-semantics-highlight-light: var(
    --w-common-brand-lighter
  );
  --w-common-border-color-semantics-error-light: var(--w-palette-red-200);
  --w-common-border-color-semantics-error-light-disabled: var(
    --w-palette-red-100
  );
  --w-common-border-width-none: 0px;
  --w-common-border-width-sm: 1px;
  --w-common-border-width-md: 2px;
  --w-common-border-width-lg: 4px;
  --w-common-border-width-icon-none: 0px;
  --w-common-border-width-icon-sm: 1px;
  --w-common-border-width-icon-md: 1.5px;
  --w-common-border-width-icon-lg: 2px;
  --w-common-border-radius-none: 0px;
  --w-common-border-radius-sm: 2px;
  --w-common-border-radius-md: 4px;
  --w-common-border-radius-lg: 8px;
  --w-common-border-radius-xlg: 16px;
  --w-common-border-radius-circular: 99999px;
  --w-common-spacing-common-none: 0px;
  --w-common-spacing-common-xxs: 2px;
  --w-common-spacing-common-xs: 4px;
  --w-common-spacing-common-sm: 8px;
  --w-common-spacing-common-lg: 16px;
  --w-common-spacing-common-xl: 24px;
  --w-common-spacing-common-xxl: 32px;
  --w-common-spacing-common-xxxl: 48px;
  --w-common-spacing-common-md: 12px;
  --w-common-spacing-gap-none: 0px;
  --w-common-spacing-gap-xm: 2px;
  --w-common-spacing-gap-sm: 4px;
  --w-common-spacing-gap-md: 8px;
  --w-common-spacing-gap-lg: 16px;
  --w-common-spacing-gap-xl: 24px;
  --w-common-spacing-scale-1: 1px;
  --w-common-spacing-scale-2: 1.5px;
  --w-common-spacing-scale-3: 2px;
  --w-common-shadow-state-focus-default: var(--w-common-brand-lighter);
  --w-common-shadow-state-focus-danger: var(--w-palette-red-400);
  --w-common-shadow-state-focus-inner: var(--w-palette-core-white);
  --w-common-shadow-color-02: #0000001a;
  --w-common-shadow-color-01: #0000000d;
  --w-common-shadow-color-03: #00000040;
  --w-common-shadow-color-04: #00000066;
  --w-common-brand: #444ce7;
  --w-common-brand-lighter: #dde9ff;
  --w-common-brand-light: #c6d7fe;
  --w-common-brand-dark: #2f34ad;
  --w-common-brand-darker: #2e3487;
  --w-common-transparent-10: #444ce71a;
  --w-common-transparent-20: #444ce733;
  --w-common-transparent-30: #444ce74d;
}
