:root {
  --w-component-dropdown-font: var(undefined);
  --w-component-dropdown-background: var(undefined);
  --w-component-dropdown-border: var(undefined);
  --w-component-dropdown-hover-font: var(undefined);
  --w-component-dropdown-hover-background: var(undefined);
  --w-component-dropdown-hover-border: var(undefined);
  --w-component-dropdown-focus-background: var(undefined);
  --w-component-dropdown-focus-border: var(undefined);
  --w-component-dropdown-focus-font: var(undefined);
  --w-component-dropdown-active-font: var(undefined);
  --w-component-dropdown-active-background: var(undefined);
  --w-component-dropdown-active-border: var(undefined);
  --w-component-dropdown-selected-font: var(undefined);
  --w-component-dropdown-selected-background: var(undefined);
  --w-component-dropdown-selected-border: var(undefined);
  --w-component-dropdown-disabled-font: var(undefined);
  --w-component-dropdown-disabled-background: var(undefined);
  --w-component-dropdown-disabled-border: var(undefined);
  --w-component-dropdown-item-font: var(undefined);
  --w-component-dropdown-item-background: var(undefined);
  --w-component-dropdown-item-border: var(undefined);
  --w-component-dropdown-item-hover-font: var(undefined);
  --w-component-dropdown-item-hover-background: var(undefined);
  --w-component-dropdown-item-hover-border: var(undefined);
  --w-component-dropdown-item-active-font: var(undefined);
  --w-component-dropdown-item-active-background: var(undefined);
  --w-component-dropdown-item-active-border: var(undefined);
  --w-component-dropdown-item-selected-font: var(undefined);
  --w-component-dropdown-item-selected-background: var(undefined);
  --w-component-dropdown-item-selected-border: var(undefined);
  --w-component-dropdown-item-disabled-font: var(undefined);
  --w-component-dropdown-item-disabled-background: var(undefined);
  --w-component-dropdown-item-disabled-border: var(undefined);
  --w-component-dropdown-item-danger-font: var(undefined);
  --w-component-dropdown-item-danger-background: var(undefined);
  --w-component-dropdown-item-danger-border: var(undefined);
  --w-component-dropdown-item-danger-hover-font: var(undefined);
  --w-component-dropdown-item-danger-hover-background: var(undefined);
  --w-component-dropdown-item-danger-hover-border: var(undefined);
  --w-component-dropdown-item-danger-focus-font: var(undefined);
  --w-component-dropdown-item-danger-focus-background: var(undefined);
  --w-component-dropdown-item-danger-focus-border: var(undefined);
  --w-component-dropdown-item-danger-active-font: var(undefined);
  --w-component-dropdown-item-danger-active-background: var(undefined);
  --w-component-dropdown-item-danger-active-border: var(undefined);
  --w-component-dropdown-item-danger-selected-font: var(undefined);
  --w-component-dropdown-item-danger-selected-background: var(undefined);
  --w-component-dropdown-item-danger-selected-border: var(undefined);
  --w-component-dropdown-item-danger-disabled-font: var(undefined);
  --w-component-dropdown-item-danger-disabled-background: var(undefined);
  --w-component-dropdown-item-danger-disabled-border: var(undefined);
  --w-component-dropdown-item-danger-checked-font: var(undefined);
  --w-component-dropdown-item-danger-checked-background: var(undefined);
  --w-component-dropdown-item-danger-checked-border: var(undefined);
  --w-component-dropdown-item-danger-checked-hover-font: var(undefined);
  --w-component-dropdown-item-danger-checked-hover-background: var(undefined);
  --w-component-dropdown-item-danger-checked-hover-border: var(undefined);
  --w-component-dropdown-item-danger-checked-focus-font: var(undefined);
  --w-component-dropdown-item-danger-checked-focus-background: var(undefined);
  --w-component-dropdown-item-danger-checked-focus-border: var(undefined);
  --w-component-dropdown-item-danger-checked-active-background: var(undefined);
  --w-component-dropdown-item-danger-checked-active-border: var(undefined);
  --w-component-dropdown-item-danger-checked-active-font: var(undefined);
  --w-component-dropdown-item-danger-checked-selected-font: var(undefined);
  --w-component-dropdown-item-danger-checked-selected-background: var(undefined);
  --w-component-dropdown-item-danger-checked-selected-border: var(undefined);
  --w-component-dropdown-item-danger-checked-disabled-font: var(undefined);
  --w-component-dropdown-item-danger-checked-disabled-background: var(undefined);
  --w-component-dropdown-item-danger-checked-disabled-border: var(undefined);
  --w-component-dropdown-item-checked-font: var(undefined);
  --w-component-dropdown-item-checked-background: var(undefined);
  --w-component-dropdown-item-checked-border: var(undefined);
  --w-component-dropdown-item-checked-hover-background: var(undefined);
  --w-component-dropdown-item-checked-hover-border: var(undefined);
  --w-component-dropdown-item-checked-hover-font: var(undefined);
  --w-component-dropdown-item-checked-active-font: var(undefined);
  --w-component-dropdown-item-checked-active-background: var(undefined);
  --w-component-dropdown-item-checked-active-border: var(undefined);
  --w-component-dropdown-item-checked-selected-font: var(undefined);
  --w-component-dropdown-item-checked-selected-background: var(undefined);
  --w-component-dropdown-item-checked-selected-border: var(undefined);
  --w-component-dropdown-item-checked-disabled-font: var(undefined);
  --w-component-dropdown-item-checked-disabled-background: var(undefined);
  --w-component-dropdown-item-checked-disabled-border: var(undefined);
  --w-component-dropdown-button-primary-selected-font: var(undefined);
  --w-component-dropdown-button-primary-selected-background: var(undefined);
  --w-component-dropdown-button-primary-selected-border: var(undefined);
  --w-component-dropdown-button-classic-selected-font: var(undefined);
  --w-component-dropdown-button-classic-selected-border: var(undefined);
  --w-component-dropdown-button-classic-selected-background: var(undefined);
  --w-component-dropdown-button-secondary-selected-font: var(undefined);
  --w-component-dropdown-button-secondary-selected-border: var(undefined);
  --w-component-dropdown-button-secondary-selected-background: var(undefined);
  --w-component-dropdown-popper-background: var(undefined);
  --w-component-dropdown-popper-border: var(undefined);
}
