:root {
  --w-component-toggle-basic-border: var(undefined);
  --w-component-toggle-basic-font: var(undefined);
  --w-component-toggle-basic-background: var(undefined);
  --w-component-toggle-basic-hover-border: var(undefined);
  --w-component-toggle-basic-hover-font: var(undefined);
  --w-component-toggle-basic-hover-background: var(undefined);
  --w-component-toggle-basic-disabled-border: var(undefined);
  --w-component-toggle-basic-disabled-background: var(undefined);
  --w-component-toggle-basic-disabled-font: var(undefined);
  --w-component-toggle-basic-focus-font: var(undefined);
  --w-component-toggle-basic-focus-background: var(undefined);
  --w-component-toggle-basic-focus-border: var(undefined);
  --w-component-toggle-basic-selected-border: var(undefined);
  --w-component-toggle-basic-selected-font: var(undefined);
  --w-component-toggle-basic-selected-background: var(undefined);
  --w-component-toggle-basic-selected-hover-border: var(undefined);
  --w-component-toggle-basic-selected-hover-font: var(undefined);
  --w-component-toggle-basic-selected-hover-background: var(undefined);
  --w-component-toggle-basic-selected-focus-border: var(undefined);
  --w-component-toggle-basic-selected-focus-font: var(undefined);
  --w-component-toggle-basic-selected-focus-background: var(undefined);
  --w-component-toggle-basic-selected-disabled-border: var(undefined);
  --w-component-toggle-basic-selected-disabled-font: var(undefined);
  --w-component-toggle-basic-selected-disabled-background: var(undefined);
  --w-component-toggle-ghost-font: var(undefined);
  --w-component-toggle-ghost-background: var(undefined);
  --w-component-toggle-ghost-border: var(undefined);
  --w-component-toggle-ghost-hover-font: var(undefined);
  --w-component-toggle-ghost-hover-background: var(undefined);
  --w-component-toggle-ghost-hover-border: var(undefined);
  --w-component-toggle-ghost-disabled-font: var(undefined);
  --w-component-toggle-ghost-disabled-background: var(undefined);
  --w-component-toggle-ghost-disabled-border: var(undefined);
  --w-component-toggle-ghost-focus-font: var(undefined);
  --w-component-toggle-ghost-focus-background: var(undefined);
  --w-component-toggle-ghost-focus-border: var(undefined);
  --w-component-toggle-ghost-selected-font: var(undefined);
  --w-component-toggle-ghost-selected-background: var(undefined);
  --w-component-toggle-ghost-selected-border: var(undefined);
  --w-component-toggle-ghost-selected-hover-font: var(undefined);
  --w-component-toggle-ghost-selected-hover-background: var(undefined);
  --w-component-toggle-ghost-selected-hover-border: var(undefined);
  --w-component-toggle-ghost-selected-focus-font: var(undefined);
  --w-component-toggle-ghost-selected-focus-background: var(undefined);
  --w-component-toggle-ghost-selected-focus-border: var(undefined);
  --w-component-toggle-ghost-selected-disabled-font: var(undefined);
  --w-component-toggle-ghost-selected-disabled-background: var(undefined);
  --w-component-toggle-ghost-selected-disabled-border: var(undefined);
}
