html[data-theme="orange"] {
  --w-common-border-color-base: var(--w-palette-gray-20);
  --w-common-border-color-01: var(--w-palette-gray-10);
  --w-common-border-color-02: var(--w-palette-gray-20);
  --w-common-border-color-03: var(--w-palette-gray-30);
  --w-common-border-color-state-disabled: var(--w-palette-gray-20);
  --w-common-border-color-state-focus: var(--w-palette-orange-30);
  --w-common-border-color-semantics-highlight: var(--w-palette-orange-60);
  --w-common-border-color-semantics-highlight-hover: var(--w-palette-orange-70);
  --w-common-border-color-semantics-success: var(--w-palette-green-60);
  --w-common-border-color-semantics-success-hover: var(--w-palette-green-70);
  --w-common-border-color-semantics-error: var(--w-palette-red-60);
  --w-common-border-color-semantics-error-hover: var(--w-palette-red-70);
  --w-common-border-color-semantics-warning: var(--w-palette-orange-60);
  --w-common-border-color-semantics-warning-hover: var(--w-palette-orange-70);
  --w-common-border-color-semantics-error-disabled: var(--w-palette-red-30);
  --w-common-border-color-semantics-highlight-light: var(--w-palette-orange-10);
  --w-common-border-color-semantics-error-light: var(--w-palette-red-20);
  --w-common-border-color-semantics-error-light-disabled: var(
    --w-palette-red-10
  );
  --w-common-border-color-inverse: var(--w-palette-core-white);
  --w-common-border-color-transparent: var(--w-palette-transparent-transparent);
  --w-common-border-color-white-transparent-10: var(
    --w-palette-transparent-white-transparent-10
  );
  --w-common-border-color-black-transparent-10: var(
    --w-palette-transparent-black-transparent-10
  );
  --w-common-border-width-none: 0px;
  --w-common-border-width-sm: 1px;
  --w-common-border-width-md: 2px;
  --w-common-border-width-lg: 4px;
  --w-common-border-width-icon-none: 0px;
  --w-common-border-width-icon-sm: 1px;
  --w-common-border-width-icon-md: 1.5px;
  --w-common-border-width-icon-lg: 2px;
  --w-common-border-radius-none: 0px;
  --w-common-border-radius-sm: 2px;
  --w-common-border-radius-md: 4px;
  --w-common-border-radius-lg: 8px;
  --w-common-border-radius-xlg: 16px;
  --w-common-border-radius-circular: 99999px;
}
