.container {
  position: relative;
  width: 100%;
  height: var(--wis-table-variable-height);
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex: 1 1 auto;
}

.table {
  table-layout: fixed;
  width: max-content;
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.head-cell {
  text-align: start;
  overflow: hidden;

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="right"] {
    text-align: end;
  }
}

.row {
  &[data-hidden] {
    height: 0;
    font-size: 0;

    > .cell {
      height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  }
}

.cell {
  text-align: start;
  overflow: hidden;

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="right"] {
    text-align: end;
  }
}