.container {
  position: relative;
  width: 100%;
}

.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.table {
  table-layout: fixed;
  min-width: 100%;
}

.head-cell {
  text-align: start;

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="right"] {
    text-align: end;
  }
}

.row {
  &[data-hidden] {
    height: 0;
    font-size: 0;

    > .cell {
      height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  }
}

.cell {
  text-align: start;

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="right"] {
    text-align: end;
  }
}