@use '@/themes/tool.scss' as tool;
@use '@/themes/style.scss' as style;

@mixin shortcut-state-style($variant:'') {
  @include style.component-style($component: 'shortcut', $variant: $variant);
  @include style.component-disabled-style($component: 'shortcut', $variant: $variant);
}

.shortcut {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: var(--w-common-font-weight-medium);
  border: var(--w-common-spacing-gap-none) solid transparent;

  @include tool.font-size(var(--w-common-font-size-text-base));

  &[data-variant="light"] {
    @include shortcut-state-style($variant: 'light');
  }

  &[data-variant="dark"] {
    @include shortcut-state-style($variant: 'dark');
  }

  &[data-variant="ghost"] {
    @include shortcut-state-style($variant: 'gray');
  }

  &[data-size="md"] {
    gap: var(--w-common-spacing-gap-none);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-xs);
    border-radius: var(--w-common-border-radius-md);
    height: 24px;
  }

  &[data-size="sm"] {
    gap: var(--w-common-spacing-gap-none);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-xs);
    border-radius: var(--w-common-border-radius-md);
    height: 20px;
  }

  &[data-size="xs"] {
    gap: var(--w-common-spacing-gap-none);
    padding: var(--w-common-spacing-common-none) var(--w-common-spacing-common-xs);
    border-radius: var(--w-common-border-radius-md);
    height: 14px;

    @include tool.font-size(var(--w-common-font-size-text-sm));
  }
}